@import "../variables";
@import "../mixins";

.contact {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 28px 103px 0;
  }

  &__image-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 85px;
  }

  &__image {
    width: 100%;
  }

  &__image-mob {
    display: none;
  }

  &__text-content {
    max-width: 82.25%;
    text-align: center;
  }

  &__title-1 {
    .h2();
    font-weight: bold;
  }

  &__title {
    .h2();
    margin-top: 34px;
    margin-bottom: 93px;
    color: #212122;
    font-weight: bold;
    font-size: 41px;
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 29px 16px 0;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
      margin-bottom: 0;
      padding-bottom: 48px;
    }

    &__text-content {
      max-width: 100%;
    }

    &__title-1 {
      font-size: 28px;
      line-height: 38px;
      text-align: center;
    }

    &__title {
      margin-top: 32px;
      margin-bottom: 72px;
      color: #212122;
      font-weight: 500;
      font-size: 21px;
      line-height: 26px;
    }

    & .btn-arrow-wrapper {
      position: static;
      transform: translateY(0) rotate(-90deg);
    }
  }
}

.contact-section2 {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 85px 88px 99px;
  }

  &__text-content-wrapper {
    border-bottom: 1px solid #e5e7ef;
  }

  &__text-content {
    max-width: 56.01%;
    margin-bottom: 29px;
  }

  &__text {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  &__text.open {
    height: auto;
    padding: 1px 0 16px;
  }

  &__subtitle {
    .h4();
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 31px;
    padding-right: 9.82px;
    cursor: pointer;
  }

  &__subtitle p {
    flex-basis: 86.56%;
  }

  &__text-content-question.invisible {
    display: none;
  }

  &__plus {
    position: relative;
    width: 12.24px;
    height: 1.59px;
    background: #000000;
  }

  &__plus:after {
    position: absolute;
    width: 12.24px;
    height: 1.59px;
    background: #000000;
    animation: plus 0.5s ease 1 forwards;
    content: "";
  }

  &__subtitle.active .contact-section2__plus:after {
    animation: minus 0.5s ease 1 forwards;
  }

  &__text-paragraph {
    .p();
    opacity: 0.7;
  }

  &__list {
    list-style: inside;
  }

  &__list li {
    .p();
    opacity: 0.7;
  }
&__button{
  .btn-link();
}
  &__button:hover{
    .btn-link-hover()
  }
  &__text-content-btn.invisible {
    display: none;
  }

  &__text a {
    color: @primary-color;
  }
}

@keyframes minus {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes plus {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 1024px) {
  .contact-section2 {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      padding: 85px 16px 60px;
    }

    &__text-content {
      max-width: 100%;
      margin-bottom: 0;
    }

    &__text-content-btn button {
      margin-top: 32px;
      padding-top: 0;
    }

    &__subtitle {
      margin-top: 24px;
      margin-bottom: 24px;
      font-size: 20px;
      line-height: 25px;
    }

    &__subtitle p {
      flex-basis: 90%;
    }

    &__text-paragraph {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.contact-section3 {
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 74px 103px;
  }

  &__text-content {
    flex-basis: 57.13%;
    width: 57.13%;
  }

  &__text p {
    .p();
    margin-bottom: 14px;
    color: #e87405;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__title {
    .h2();
    color: #212122;
  }

  &__form {
    width: 31.93%;
    min-width: 394px;
    margin-top: 54px;
    margin-left: 46.76%;
  }

  &__form-control {
    .p();
    box-sizing: border-box;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 24px;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 12px;
    background: #ffffff;
    border: none;
    border-radius: @border-radius-base;
    outline: none;
    cursor: pointer;
  }

  &__form-control::placeholder {
    .p();
    color: rgba(113, 117, 130, 0.49);
    opacity: 0.7;
  }

  &__select-wrapper {
    position: relative;
  }

  &__select-title {
    position: absolute;
    bottom: 6px;
    left: 12px;
    .p();
    color: rgba(113, 117, 130, 0.49);
    opacity: 0.7;
  }

  &__select-arrow {
    position: absolute;
    right: 12px;
    bottom: 36px;
    width: 16px;
    height: 16px;
    background-image: url("../../images/contact/arrow-small.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.5s ease 0s;
    }

  &__select-arrow.active {
    transform: rotate(180deg);
  }

  &__form-item textarea {
    min-height: 122px;
    margin-top: 3px;
    margin-bottom: 24px;
    resize: vertical;
  }

  & label {
    .p();
    color: #000000;
    opacity: 0.7;
  }

  &__form-btn button {
    margin-top: 8px;
    margin-bottom: 0;
    cursor: pointer;
  }

  &__form-btn {
    display: flex;
    justify-content: flex-end;
  }

  &__select-dropdown {
    position: absolute;
    top: calc(100% - 25px);
    z-index: 8;
    display: none;
    width: 100%;
    transition: 0.5s;
  }

  &__select-dropdown.active {
    display: block;
  }

  &__select-dropdown-list {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 12px;
    background: #ffffff;
    border: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    box-shadow: 0 4px 7px rgb(0 0 0 / 5%);
    cursor: pointer;
  }

  &__select-dropdown-item {
    .p();
    padding-top: 5px;
    color: #000000;
    opacity: 0.7;
  }
}

@media screen and (max-width: 1024px) {
  .contact-section3 {
    &__content-wrapper {
      max-width: 1024px;
      margin: 0 auto;
      padding: 60px 16px;
    }

    &__text-content {
      flex-basis: 100%;
      width: 100%;
    }

    &__text p {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 14px;
    }

    &__title {
      font-size: 20px;
      line-height: 25px;
    }

    &__form {
      width: 100%;
      min-width: 100%;
      margin-top: 41px;
      margin-left: 0;
    }

    &__form-control {
      margin-top: 5px;
      padding-bottom: 8px;
    }

    &__form-control::placeholder {
      line-height: 22px;
    }

    & label {
      font-size: 17px;
      line-height: 22px;
    }

    &__form-item textarea {
      margin-bottom: 26px;
    }

    &__form-btn button {
      width: 100%;
    }
  }
}

.contact-section4 {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 129px 88px 142px;
  }

  &__content-wrapper-1,
  &__content-wrapper-2,
  &__content-wrapper-3 {
    display: flex;
  }

  &__title {
    .h2();
    flex-basis: 43.35%;
    text-align: end;
  }

  &__content-wrapper-text-1,
  &__content-wrapper-text-2,
  &__content-wrapper-text-3 {
    flex-basis: 19.22%;
    margin-right: 95px;
    margin-left: 170px;
    padding-top: 10px;
  }

  &__content-wrapper-1,
  &__content-wrapper-2 {
    margin-bottom: 40px;
  }

  &__content-wrapper-text-1 &__text {
    padding-right: 16px;
  }

  &__subtitle {
    .h4();
    margin-bottom: 24px;
    padding-right: 10px;
    font-weight: bolder;
  }

  &__text p {
    .p();
    margin-bottom: 24px;
    opacity: 0.7;
  }

  & a {
    color: @primary-color;
  }

  & .section6-btn {
    right: 88px;
    bottom: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .contact-section4 {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      padding: 60px 16px 24px;
    }

    &__content-wrapper-1,
    &__content-wrapper-2,
    &__content-wrapper-3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 48px;
    }

    &__title {
      flex-basis: 100%;
      font-size: 24px;
      line-height: 30px;
      text-align: start;
    }

    &__content-wrapper-text-1,
    &__content-wrapper-text-2,
    &__content-wrapper-text-3 {
      width: 60.32%;
      margin-right: 0;
      margin-left: 0;
      padding-top: 24px;
    }

    &__text p {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 18px;
    }

    &__subtitle {
      margin-bottom: 16px;
      padding-right: 0;
      font-size: 16px;
      line-height: 21px;
    }

    & .section6-btn {
      right: 18px;
      bottom: 10px;
      transform: translate(0, 0);
    }
  }
}
