@import "../variables";
@import "../mixins";
@import "contact";

.contact-us {
  display: none;
}

.contact-us.show {
  display: block;
  border-bottom: 1px solid #e4e6f2;
}

//#page-contact.page{
//  border-bottom: 1px solid #212122;
//}
//
//#page-contact.active.page {
//  border-bottom: 1px solid #60B8A3;
//}
//
//#page-contact.page:hover, #page-contact.page:active{
//  border-bottom: 1px solid #60B8A3;
//}
.header__menu-item.page {
  border-bottom: 1px solid #212122;
}

.header__menu-item.active.page {
  border-bottom: 1px solid #60b8a3;
}

.header__menu-item.page:hover,
.header__menu-item.page:active {
  border-bottom: 1px solid #60b8a3;
}
