@import "../variables";
@import "../mixins";

.page-news {
  border-bottom: 1px solid #e4e6f2;
}

.page-news-section1 {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 28px 103px 0;
  }

  &__image-wrapper {
    display: block;
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  &__image-mob {
    display: none;
  }

  &__social-icon-wrapper {
    position: absolute;
    top: calc(100% + 74px);
    left: 106px;
    display: flex;
    flex-direction: column;
  }

  &__facebook, &__linkedin, &__twitter, &__email {
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    cursor: pointer;
  }

  &__facebook {
    background-image: url(../../images/news/social-icon/facebook.svg);
  }

  &__linkedin {
    background-image: url(../../images/news/social-icon/linkedin.svg);
  }

  &__twitter {
    background-image: url(../../images/news/social-icon/twitter.svg);
  }

  &__email {
    background-image: url(../../images/news/social-icon/email.svg);
  }

  &__facebook:hover {
    background-image: url(../../images/news/social-icon/facebook_hover.svg);
  }

  &__linkedin:hover {
    background-image: url(../../images/news/social-icon/linkedin_hover.svg);
  }

  &__twitter:hover {
    background-image: url(../../images/news/social-icon/twitter_hover.svg);
  }

  &__email:hover {
    background-image: url(../../images/news/social-icon/email_hover.svg);
  }
}

.page-news-section2 {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    z-index: 99;
    box-sizing: border-box;
    max-width: 65.56%;
    margin: -89px auto 0;
    padding: 54px 118px 140px;
    background: #FFFFFF;
  }

  &__social-icon-wrapper {
    display: none;
  }

  &__news-topic-wrapper {
    display: flex;
    align-items: center;
  }

  &__news-topic-line {
    width: 44px;
    height: 2px;
    background: #212122;
  }

  &__news-topic-name {
    .p();
    padding-right: 32px;
    padding-left: 18px;
    font-weight: bolder;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__news-date {
    .p();
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    opacity: 0.4;
  }

  &__image-wrapper {
    display: block;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__image-mob {
    display: none;
  }

  &__title {
    .h2();
    margin-top: 37px;
    margin-bottom: 52px;
    color: @text-color;
    font-size: 41px;
  }

  &__image-text {
    .p();
    margin-top: 22px;
    margin-bottom: 75px;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.4;
  }

  &__subtitle {
    .h4();
    font-weight: bolder;
  }

  &__text {
    margin-bottom: 46px;
  }

  &__text-paragraph {
    .p();
    padding-top: 32px;
    opacity: 0.7;
  }

  &__text-content-part1 &__text-paragraph,
  &__text-content-part3 &__text-paragraph {
    padding-left: 62px;
  }

  &__text-item {
    display: flex;
  }

  &__text-item-point {
    padding: 32px 14px 0 41px;
  }

  &__text-paragraph.without-point {
    padding-left: 62px;
  }

  &__text-item-line-wrapper {
    display: flex;
    padding-top: 46px;
  }

  &__text-item-line {
    padding-right: 18px;
  }

  &__text-paragraph2 {
    .h4();
    opacity: 0.7;
  }

  &__social-icons-wrapper {
    padding-top: 18px;
    padding-left: 62px;
  }

  &__social-icons-text {
    .p();
    margin-bottom: 27px;
    font-weight: bolder;
    line-height: 20px;
  }

  &__social-icons {
    display: flex;
  }

  &__social-icons img {
    display: block;
    margin-right: 34px;
  }
}

.page-news-recommendations {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 102px 99px;
  }

  & .section6-btn {
    right: 88px;
    bottom: 70px;
  }

  &__text-content {
    margin-bottom: 48px;
  }

  &__title {
    .h2();
  }

  &__news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card-wrapper-recommendation {
    flex-basis: 29.13%;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__card-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 155px;
    padding-top: 22px;
  }

  &__card-topic {
    .p();
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__card-title {
    .h2();
    padding-right: 58px;
    color: #212122;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
  }

  &__card-date {
    .p();
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    opacity: 0.4;
  }
}

@media screen and (max-width: 1024px) {
  .page-news-section1 {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      padding: 29px 16px 0;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }
  }

  .page-news-section2 {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      max-width: 100%;
      margin: 0 auto;
      padding: 32px 16px 64px;
    }

    &__social-icon-wrapper {
      display: flex;
      margin-top: 32px;
    }

    &__facebook, &__linkedin, &__twitter, &__email {
      width: 24px;
      height: 24px;
      margin-right: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 24px;
      cursor: pointer;
    }

    &__facebook {
      background-image: url(../../images/news/social-icon/facebook.svg);
    }

    &__linkedin {
      background-image: url(../../images/news/social-icon/linkedin.svg);
    }

    &__twitter {
      background-image: url(../../images/news/social-icon/twitter.svg);
    }

    &__email {
      background-image: url(../../images/news/social-icon/email.svg);
    }

    &__facebook:hover {
      background-image: url(../../images/news/social-icon/facebook_hover.svg);
    }

    &__linkedin:hover {
      background-image: url(../../images/news/social-icon/linkedin_hover.svg);
    }

    &__twitter:hover {
      background-image: url(../../images/news/social-icon/twitter_hover.svg);
    }

    &__email:hover {
      background-image: url(../../images/news/social-icon/email_hover.svg);
    }

    &__news-topic-line {
      width: 40px;
    }

    &__news-topic-name {
      padding-left: 24px;
      font-size: 12px;
      line-height: 15px;
    }

    &__news-date {
      font-size: 12px;
      line-height: 15px;
    }

    &__title {
      margin-top: 32px;
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 25px;
    }

    &__image-text {
      margin-top: 16px;
      margin-bottom: 32px;
      font-size: 12px;
      line-height: 15px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      margin-bottom: 32px;
    }

    &__text-paragraph {
      padding-top: 24px;
      font-size: 17px;
      line-height: 22px;
    }

    &__text-content-part1 &__text-paragraph,
    &__text-content-part3 &__text-paragraph {
      padding-left: 0;
    }

    &__text-item {
      flex-direction: column;
    }

    &__text-item-point {
      margin-bottom: -8px;
      padding: 24px 0 0;
    }

    &__text-paragraph.without-point {
      padding-left: 0;
    }

    &__text-item-line-wrapper {
      flex-direction: column;
      padding-top: 32px;
    }

    &__text-item-line {
      padding-bottom: 10px;
    }

    &__text-paragraph2 {
      font-size: 20px;
      line-height: 25px;
    }

    &__social-icons-wrapper {
      padding: 0;
    }

    &__social-icons-text {
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 17.85px
    }

    &__social-icons img {
      width: 24px;
      height: 24px;
      margin-right: 24px;
    }
  }

  .page-news-recommendations {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      padding: 0 16px 64px;
    }

    & .section6-btn {
      right: 18px;
      bottom: 10px;
      transform: translate(0, 0);
    }

    &__text-content {
      margin-bottom: 28px;
    }

    &__title {
      font-size: 28px;
      line-height: 38px;
    }

    &__card-wrapper-recommendation {
      flex-basis: 100%;
      margin-bottom: 41px;
    }

    &__card-text-wrapper {
      min-height: 132px;
    }

    &__card-topic {
      font-size: 12px;
      line-height: 15px;
    }

    &__card-title {

      padding-right: 0;
      font-size: 17px;
      line-height: 23.39px;
    }

    &__card-date {
      font-size: 12px;
      line-height: 15px;
    }
  }
}