@import "../variables";
@import "../mixins";
@import "news";

.news-highlights {
  display: none;
}

.news-highlights.show {
  position: relative;
  display: block;
  border-bottom: 1px solid #e4e6f2;
}

.header__menu-item.page {
  border-bottom: 1px solid #212122;
}

.header__menu-item.active.page {
  border-bottom: 1px solid #60b8a3;
}

.header__menu-item.page:hover,
.header__menu-item.page:active {
  border-bottom: 1px solid #60b8a3;
}
