@import "../variables";
@import "../mixins";

.news {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   padding: 49px 103px 0 101px;
  }
  &__info-wrapper{
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 103px 111px 101px;
  }

  &__title {
    .h2();
    margin-bottom: 42px;
    font-weight: bold;
    text-align: center;
  }

  & .section6-btn {
    right: 88px;
    bottom: 70px;
  }

  &__menu-list {
    display: flex;
    flex-basis: 95.6%;
    align-items: center;
    justify-content: space-between;
  }

  & .btns-menu {
    .p();
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.7;
  }

  & .btns-menu.active {
    padding: 4px 12px;
    background: #f4f5fa;
    border-radius: 3px;
    opacity: 1;
  }

  & .btns-menu.invisible {
    display: none;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__menu-wrapper {
    display: flex;
    flex-basis: 68.98%;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-search-wrapper {
    position: relative;
    display: flex;
    flex-basis: 16.26%;
  }

  &__menu-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__menu-search-btn img {
    display: block;
    width: 100%;
  }

  &__menu-search-input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 7px 35px 5px 12px;
    background: #f4f5fa;
    border: none;
    border-radius: 2px;
    outline: none;
  }

  &__menu-search-input::placeholder {
    .p();
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
  }

  &__menu-arrow-next-img,
  &__menu-arrow-prev-img {
    opacity: 0.7;
  }

  &__menu-arrow-prev-img {
    transform: rotate(180deg) translateY(-1.5px);
  }

  &__menu-arrow-next-img {
    transform: translateY(1.5px);
  }

  &__menu-arrow-prev,
  &__menu-arrow-next {
    cursor: pointer;
  }

  &__menu-arrow-prev {
    margin-right: 19.55px;
  }

  &__menu-arrow-next {
    margin-left: 19.55px;
  }

  &__menu-arrow-prev.invisible {
    display: none;
  }

  &__menu-arrow-next.invisible {
    display: none;
  }
&__items-container-bg{
  position: absolute;
  top: 185px;
  z-index: 0;
  display: block;
  width: 100%;
  height: 72.16%;
  background: #F4F5FA;
}
  &__items-container-bg.invisible,
  &__search-no-result.invisible{
    display: none;
  }
  &__search-no-result {
    margin-right: -103px;
    margin-left: -103px;
    padding: 36px 103px;
    background: #F4F5FA;
   }
  &__search-no-result p{
    .h4();
    }
&__search-info-result{
  margin-bottom: 12px;
  color: #000000;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  line-height: 18px;
  opacity: 0.4;
}
&__search-total-result{
  .h4();
  color: #000000;
}
  &__items-container{
  padding-top: 40px;
}
&__info-wrapper-news{
  display: flex;
  flex-direction: column;
}

 &__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0 37px;
  }

  &__card-wrapper {
    display: flex;
    flex-basis: 29.13%;
    flex-direction: column;
    margin-bottom: 75px;
  }
  &__card-wrapper-slide {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
   }
  &__card-wrapper.invisible {
    display: none;
  }

  &__card-wrapper:first-child {
    flex-basis: 64.56%;
    flex-direction: row;
  }
  &__pagination a {
    font-family: @font-family-sans-serif;
    line-height: 17px;
    cursor: pointer;
  }
  &__pagination a,
  &__pagination i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: #989898;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .news__card-wrapper:first-child a{
   display: flex;
  }
  &__card-img-wrapper {
    display: block;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  &__card-img-wrapper.card-0 {
    flex-basis: 45.11%;
    height: auto;
    background-image: url(../../images/news/1.png);

    }
  &__card-img-wrapper.card-1,
  &__card-img-wrapper.card-12,
  &__card-img-wrapper.card-23,
  &__card-img-wrapper.card-34,
  &__card-img-wrapper.card-45,
  &__card-img-wrapper.card-56,
  &__card-img-wrapper.card-67,
  &__card-img-wrapper.card-78,
  &__card-img-wrapper.card-89,
  &__card-img-wrapper.card-100{
    background-image: url(../../images/news/2.png);
    }
  &__card-img-wrapper.card-2,
  &__card-img-wrapper.card-13,
  &__card-img-wrapper.card-24,
  &__card-img-wrapper.card-35,
  &__card-img-wrapper.card-46,
  &__card-img-wrapper.card-57,
  &__card-img-wrapper.card-68,
  &__card-img-wrapper.card-79,
  &__card-img-wrapper.card-90,
  &__card-img-wrapper.card-101{
    background-image: url(../../images/news/3.png);
    }
  &__card-img-wrapper.card-3,
  &__card-img-wrapper.card-14,
  &__card-img-wrapper.card-25,
  &__card-img-wrapper.card-36,
  &__card-img-wrapper.card-47,
  &__card-img-wrapper.card-58,
  &__card-img-wrapper.card-69,
  &__card-img-wrapper.card-80,
  &__card-img-wrapper.card-91,
  &__card-img-wrapper.card-102{
    background-image: url(../../images/news/4.png);
     }
  &__card-img-wrapper.card-4,
  &__card-img-wrapper.card-15,
  &__card-img-wrapper.card-26,
  &__card-img-wrapper.card-37,
  &__card-img-wrapper.card-48,
  &__card-img-wrapper.card-59,
  &__card-img-wrapper.card-70,
  &__card-img-wrapper.card-81,
  &__card-img-wrapper.card-92,
  &__card-img-wrapper.card-103,
  &__card-img-wrapper.card-11,
  &__card-img-wrapper.card-22,
  &__card-img-wrapper.card-33,
  &__card-img-wrapper.card-44,
  &__card-img-wrapper.card-55,
  &__card-img-wrapper.card-66,
  &__card-img-wrapper.card-77,
  &__card-img-wrapper.card-88,
  &__card-img-wrapper.card-99,
  &__card-img-wrapper.card-110{
    background-image: url(../../images/news/5.png);
    }
  &__card-img-wrapper.card-5,
  &__card-img-wrapper.card-16,
  &__card-img-wrapper.card-27,
  &__card-img-wrapper.card-38,
  &__card-img-wrapper.card-49,
  &__card-img-wrapper.card-60,
  &__card-img-wrapper.card-71,
  &__card-img-wrapper.card-82,
  &__card-img-wrapper.card-93,
  &__card-img-wrapper.card-104{
    background-image: url(../../images/news/6.png);
     }
  &__card-img-wrapper.card-6,
  &__card-img-wrapper.card-17,
  &__card-img-wrapper.card-28,
  &__card-img-wrapper.card-39,
  &__card-img-wrapper.card-50,
  &__card-img-wrapper.card-61,
  &__card-img-wrapper.card-72,
  &__card-img-wrapper.card-83,
  &__card-img-wrapper.card-94,
  &__card-img-wrapper.card-105{
    background-image: url(../../images/news/7.png);
  }
  &__card-img-wrapper.card-7,
  &__card-img-wrapper.card-18,
  &__card-img-wrapper.card-29,
  &__card-img-wrapper.card-40,
  &__card-img-wrapper.card-51,
  &__card-img-wrapper.card-62,
  &__card-img-wrapper.card-73,
  &__card-img-wrapper.card-84,
  &__card-img-wrapper.card-95,
  &__card-img-wrapper.card-106{
    background-image: url(../../images/news/8.png);
     }
  &__card-img-wrapper.card-8,
  &__card-img-wrapper.card-19,
  &__card-img-wrapper.card-30,
  &__card-img-wrapper.card-41,
  &__card-img-wrapper.card-52,
  &__card-img-wrapper.card-63,
  &__card-img-wrapper.card-74,
  &__card-img-wrapper.card-85,
  &__card-img-wrapper.card-96,
  &__card-img-wrapper.card-107{
    background-image: url(../../images/news/9.png);
    }
  &__card-img-wrapper.card-9,
  &__card-img-wrapper.card-20,
  &__card-img-wrapper.card-31,
  &__card-img-wrapper.card-42,
  &__card-img-wrapper.card-53,
  &__card-img-wrapper.card-64,
  &__card-img-wrapper.card-75,
  &__card-img-wrapper.card-86,
  &__card-img-wrapper.card-97,
  &__card-img-wrapper.card-108{
    background-image: url(../../images/news/10.png);
    }
  &__card-img-wrapper.card-10,
  &__card-img-wrapper.card-21,
  &__card-img-wrapper.card-32,
  &__card-img-wrapper.card-43,
  &__card-img-wrapper.card-54,
  &__card-img-wrapper.card-65,
  &__card-img-wrapper.card-76,
  &__card-img-wrapper.card-87,
  &__card-img-wrapper.card-98,
  &__card-img-wrapper.card-109{
    background-image: url(../../images/news/11.png);
   }

  &__card-img {
    display: block;
    width: 100%;
  }

  &__card-wrapper:first-child &__card-img {
    height: 100%;
  }

  &__card-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 155px;
    padding-top: 22px;
  }

  &__card-wrapper:first-child &__card-text-wrapper {
    display: flex;
    flex-basis: 54.89%;
    flex-direction: column;
    justify-content: space-between;
    background: #f4f5fa;
  }

  &__card-topic {
    .p();
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__card-wrapper:first-child &__card-topic {
    margin-bottom: 0;
    padding-top: 50px;
    padding-left: 55px;
  }

  &__card-title {
    .h2();
    padding-right: 58px;
    color: #212122;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
  }

  &__card-wrapper:first-child &__card-title {
    margin-bottom: 0;
    padding-right: 58px;
    padding-left: 55px;
    font-size: 28px;
    line-height: 40px;
  }

  &__card-date {
    .p();
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    opacity: 0.4;
  }

  &__card-wrapper:first-child &__card-date {
    padding-top: 94px;
    padding-bottom: 47px;
    padding-left: 55px;
  }

  &__pagination {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 30.26%;
    min-width: 374px;
  }

  &__pagination.invisible {
    display: none;
  }

  &__pagination-wrapper {
    display: flex;
    justify-content: space-between;
    width: 91.44%;
  }
  &__pagination a.current {
    color: #ffffff;
    background: #121051;
    border-radius: 100%;
  }

  &__pagination-arrow-prev {
    background-image: url(../../images/news/pagination-arrow-prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }

  &__pagination-arrow-next {
    background-image: url(../../images/news/pagination-arrow-next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }
  &__text-content-btn-more{
    display: none;
  }
  &__swiper-container4{
    display: none;
  }
  &__search-info{
    display: block;
  }
  &__search-info.invisible{
    display: none;
  }
  &__info-wrapper.search-result{
    margin-top: 0;
    background: none;
  }
}
@media screen and (max-width: 1024px) {
  .news {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      box-sizing: border-box;
      max-width: 1024px;
      margin: 0 auto;
      padding: 24px 16px 0;
    }
    &__info-wrapper{
      margin: 0 auto;
      padding: 0;
    }
    &__info-wrapper-news{
      box-sizing: border-box;
      max-width: 1024px;
      margin: 0 auto;
     padding: 0 16px 87px;
    }
    .news__card-wrapper:first-child a{
      flex-wrap: wrap;
    }
    &__title {
        margin-bottom: 36px;
        font-size: 24px;
        line-height: 30px;
        text-align: start;
     }
    &__menu {
      flex-direction: column;
    }

&__menu-search-form{
  width: 100%;
}
    &__menu-search-wrapper {
      order: -1;
      margin-bottom: 50px;
    }

   &__items-wrapper {
     padding: 40px 0 0;
    }
    &__card-wrapper {
      display: block;
      flex-basis: 100%;
      margin-bottom: 24px;
    }
    &__card-wrapper:first-child {
      flex-basis: 100%;
      flex-direction: column;
    }
    &__card-text-wrapper {
      min-height: 126px;
      padding-top: 24px;
      }
    &__card-topic {
     // margin-bottom: 16px;
      font-size: 12px;
      line-height: 15px;
      }
    &__card-title {
      //margin-bottom: 16px;
      padding-right: 0;
    }
    &__card-date {
      margin-bottom: 17px;
      font-size: 12px;
      line-height: 15px;
    }
    & .section6-btn {
      right: 18px;
      bottom: 10px;
      transform: translate(0, 0);
    }
    .news__pagination {
      display: none;
    }

    &__card-wrapper:first-child &__card-text-wrapper {
      flex-basis: 100%;
      border-radius: 4px;
          }
    &__card-wrapper:first-child &__card-topic {
      margin-bottom: 16px;
      padding-top: 0;
      padding-left: 16px;
    }
    &__card-wrapper:first-child &__card-title {
      margin-bottom: 16px;
      padding-right: 0;
      padding-left: 16px;
      font-size: 17px;
      line-height: 23.39px;
    }
    &__card-wrapper:first-child &__card-date {
      margin-bottom: 23px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 16px;

    }
    &__card-img-wrapper {
      height: 246px;
      background-position: initial;
      background-size: cover;
    }
    &__card-img-wrapper.card-0 {
      flex-basis: 100%;
      height: 196px !important;
      background-image: url(../../images/news/1mob.png);
    }
    &__card-img-wrapper.card-1,
    &__card-img-wrapper.card-12,
    &__card-img-wrapper.card-23,
    &__card-img-wrapper.card-34,
    &__card-img-wrapper.card-45,
    &__card-img-wrapper.card-56,
    &__card-img-wrapper.card-67,
    &__card-img-wrapper.card-78,
    &__card-img-wrapper.card-89,
    &__card-img-wrapper.card-100{
      background-image: url(../../images/news/2mob.png);
    }
    &__card-img-wrapper.card-2,
    &__card-img-wrapper.card-13,
    &__card-img-wrapper.card-24,
    &__card-img-wrapper.card-35,
    &__card-img-wrapper.card-46,
    &__card-img-wrapper.card-57,
    &__card-img-wrapper.card-68,
    &__card-img-wrapper.card-79,
    &__card-img-wrapper.card-90,
    &__card-img-wrapper.card-101{
      background-image: url(../../images/news/3mob.png);
    }
    &__card-img-wrapper.card-3,
    &__card-img-wrapper.card-14,
    &__card-img-wrapper.card-25,
    &__card-img-wrapper.card-36,
    &__card-img-wrapper.card-47,
    &__card-img-wrapper.card-58,
    &__card-img-wrapper.card-69,
    &__card-img-wrapper.card-80,
    &__card-img-wrapper.card-91,
    &__card-img-wrapper.card-102{
      background-image: url(../../images/news/4mob.png);
    }
    &__card-img-wrapper.card-4,
    &__card-img-wrapper.card-15,
    &__card-img-wrapper.card-26,
    &__card-img-wrapper.card-37,
    &__card-img-wrapper.card-48,
    &__card-img-wrapper.card-59,
    &__card-img-wrapper.card-70,
    &__card-img-wrapper.card-81,
    &__card-img-wrapper.card-92,
    &__card-img-wrapper.card-103,
    &__card-img-wrapper.card-11,
    &__card-img-wrapper.card-22,
    &__card-img-wrapper.card-33,
    &__card-img-wrapper.card-44,
    &__card-img-wrapper.card-55,
    &__card-img-wrapper.card-66,
    &__card-img-wrapper.card-77,
    &__card-img-wrapper.card-88,
    &__card-img-wrapper.card-99,
    &__card-img-wrapper.card-110{
      background-image: url(../../images/news/5mob.png);
    }
    &__card-img-wrapper.card-5,
    &__card-img-wrapper.card-16,
    &__card-img-wrapper.card-27,
    &__card-img-wrapper.card-38,
    &__card-img-wrapper.card-49,
    &__card-img-wrapper.card-60,
    &__card-img-wrapper.card-71,
    &__card-img-wrapper.card-82,
    &__card-img-wrapper.card-93,
    &__card-img-wrapper.card-104{
      background-image: url(../../images/news/6mob.png);
    }
    &__card-img-wrapper.card-6,
    &__card-img-wrapper.card-17,
    &__card-img-wrapper.card-28,
    &__card-img-wrapper.card-39,
    &__card-img-wrapper.card-50,
    &__card-img-wrapper.card-61,
    &__card-img-wrapper.card-72,
    &__card-img-wrapper.card-83,
    &__card-img-wrapper.card-94,
    &__card-img-wrapper.card-105{
      background-image: url(../../images/news/7mob.png);
    }
    &__card-img-wrapper.card-7,
    &__card-img-wrapper.card-18,
    &__card-img-wrapper.card-29,
    &__card-img-wrapper.card-40,
    &__card-img-wrapper.card-51,
    &__card-img-wrapper.card-62,
    &__card-img-wrapper.card-73,
    &__card-img-wrapper.card-84,
    &__card-img-wrapper.card-95,
    &__card-img-wrapper.card-106{
      background-image: url(../../images/news/8mob.png);
    }
    &__card-img-wrapper.card-8,
    &__card-img-wrapper.card-19,
    &__card-img-wrapper.card-30,
    &__card-img-wrapper.card-41,
    &__card-img-wrapper.card-52,
    &__card-img-wrapper.card-63,
    &__card-img-wrapper.card-74,
    &__card-img-wrapper.card-85,
    &__card-img-wrapper.card-96,
    &__card-img-wrapper.card-107{
      background-image: url(../../images/news/9mob.png);
    }
    &__card-img-wrapper.card-9,
    &__card-img-wrapper.card-20,
    &__card-img-wrapper.card-31,
    &__card-img-wrapper.card-42,
    &__card-img-wrapper.card-53,
    &__card-img-wrapper.card-64,
    &__card-img-wrapper.card-75,
    &__card-img-wrapper.card-86,
    &__card-img-wrapper.card-97,
    &__card-img-wrapper.card-108{
      background-image: url(../../images/news/10mob.png);
    }
    &__card-img-wrapper.card-10,
    &__card-img-wrapper.card-21,
    &__card-img-wrapper.card-32,
    &__card-img-wrapper.card-43,
    &__card-img-wrapper.card-54,
    &__card-img-wrapper.card-65,
    &__card-img-wrapper.card-76,
    &__card-img-wrapper.card-87,
    &__card-img-wrapper.card-98,
    &__card-img-wrapper.card-109{
      background-image: url(../../images/news/5mob.png);
    }
    &__text-content-btn-more{
      display: block;
      text-align: center;
    }
    &__button-more{
      margin-top: 19px;
      padding-bottom: 4px;
      color: @primary-color;
      font-weight: 500;
      font-size: 14px;
      font-family: "Helvetica Neue", sans-serif;
      font-style: normal;
      line-height: 14px;
      text-transform: uppercase;
      background: transparent;
      border: none;
      border-bottom: 1px solid @primary-color;
      outline: none;
      cursor: pointer;
    }
    &__button-more:hover{
      color: @highlight-color;
      border-bottom: 1px solid @highlight-color;
    }
    &__text-content-btn-more.invisible{
      display: none;
    }
    .news__menu-wrapper {
      display: none
    }
    &__swiper-container4{
      display: block;
    }
&__menu-slide{
  .p();
  width: fit-content;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
}
    &__swiper-container4 .swiper-slide-active{
      background: #f4f5fa;
      border-radius: 3px;
      opacity: 1;
    }
    &__items-container {
      padding-top: 0;
    }
    &__items-container-bg{
      display: none;
    }
    &__search-info-result {
      margin-top: 24px;
      margin-bottom: 16px;
    }
    &__info-wrapper.search-result{
      margin-top: 36px;
      background: #F4F5FA;
    }
    &__search-no-result {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 18px;
    }
}
}
.news-recommendations{
  display: block;
  max-width: 1337px;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 124px;

  &__items-wrapper{
    display: none;
  }

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
   }
  &__text-content{
    flex-basis: 36.57%;
  }
  &__title{
    .h2();
    font-weight: bold;
  }
  & .swiper-container5{
    flex-basis: 63.43%;
    overflow: hidden;
   }
  & .swiper-slide.slider2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px !important;
    height: 100%;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.03);
  }
  & .slide-news{
    width:360px !important;
    padding-right: 12px;
  }
  & .section-news{
    background-color: transparent;
    border-radius: initial;
  }
  & .news-arrow-prev, & .news-arrow-next{
    top: auto;
    width: 48px;
    height: 48px;
    background-color: #F4F5FA;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
  }
  & .news-arrow-prev{
    margin-right: 16px;
  }

  & .section-news-btns{
    top: 100%;
    right: auto;
    left: 0;
    transform: translateY(-100%);
  }
  & .swiper-btn-wrapper {

    width: initial;
    height: initial;
    background-color: transparent;
    border-radius: 0;
  }
}
.news-recommendations.invisible{
  display: none;
}
.news-recommendations-mob{
  display: none;
}
@media screen and (max-width: 1024px) {
  .news-recommendations{
    max-width: 1024px;
    padding: 0;

    &__content-wrapper {
      flex-direction: column;
      margin-top: 114px;
    }
    & .swiper-container5{
      display: none;
    }

   &__items-wrapper{
     display: block;
   }
    &__card-wrapper-recommendation{
      display: block;
      flex-basis: 100%;
      padding-bottom: 24px
    }
    &__title {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 30px;
    }
  }
  .news-recommendations-mob{
    display: block;
  }

}