@import "../variables";
@import "../mixins";
@import "vision";

.vision-2030 {
  display: none;
}

.vision-2030.show {
  display: block;
  border-bottom: 1px solid #e4e6f2;
}

//#page-vision.page{
//  border-bottom: 1px solid #212122;
//}
//
//#page-vision.active.page {
//  border-bottom: 1px solid #60B8A3;
//}
//
//#page-vision.page:hover, #page-vision.page:active{
//  border-bottom: 1px solid #60B8A3;
//}
.header__menu-item.page {
  border-bottom: 1px solid #212122;
}

.header__menu-item.active.page {
  border-bottom: 1px solid #60b8a3;
}

.header__menu-item.page:hover,
.header__menu-item.page:active {
  border-bottom: 1px solid #60b8a3;
}
