.vision {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 82px 88px 3px;
  }

  &__image-wrapper {
    display: block;
    margin-bottom: 54px;
  }

  &__image-wrapper-img {
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  &__image-mob {
    display: none;
  }

  &__text-content {
    max-width: 80.06%;
  }

  &__title-1 {
    .h2();
    font-weight: bold;
  }

  &__title {
    .h2();
    margin-top: 12px;
    color: #212122;
    font-weight: bold;
    font-size: 41px;
  }
}

@media screen and (max-width: 1024px) {
  .vision {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 16px 61px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      width: 100%;
    }

    &__image-wrapper-img {
      padding-bottom: 42px;
      padding-left: 0;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
      margin-bottom: 0;
    }

    &__text-content {
      max-width: 100%;
    }

    &__title {
      margin-top: 20px;
      font-size: 34px;
      line-height: 41px;
      text-align: start;
    }

    &__title-1 {
      font-size: 28px;
      line-height: 38px;
      text-align: start;
    }

    &__text {
      margin-bottom: 48px;
    }
  }
}

.vision-section2 {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 56px 88px 55px;
  }

  &__text-content {
    display: flex;
    flex-basis: 46.36%;
    flex-direction: column;
    justify-content: center;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 48.42%;
  }

  &__image-wrapper-img {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__image {
    z-index: 2;
    width: 100%;
  }

  &__image-mob {
    display: none;
  }

  &__text p {
    .p();
    margin-top: 20px;
    opacity: 0.7;
  }

  &__text-link {
    color: @primary-color;
    text-decoration: underline;
  }

  &__1 {
    .square-img();
    position: absolute;
    right: -40px;
    bottom: -40px;
    left: auto;
    z-index: 1;
    transform: rotate(180deg);
  }

  & .btn-arrow-wrapper {
    position: absolute;
    bottom: 0;
    left: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .vision-section2 {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 32px 16px 48px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      z-index: 8;
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      z-index: 8;
      width: 100%;
    }

    &__image-wrapper-img {
      padding-bottom: 16px;
      padding-left: 0;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
    }

    &__text-content {
      margin-bottom: 48px;
    }

    &__text p {
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
    }

    & .btn-arrow-wrapper {
      position: static;
      transform: translateY(0) rotate(-90deg);
    }

    &__1 {
      .square-img-mob();
      top: -35px;
      right: -16px;
      bottom: auto;
      left: auto;
      transform: rotate(0);
    }
  }
}

.vision-section3 {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 118px 88px 143px 0;
  }

  &__text-content {
    display: flex;
    flex-basis: 42.83%;
    flex-direction: column;
    justify-content: center;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 51.85%;
  }

  &__image-wrapper-img {
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  &__image-mob {
    display: none;
  }

  &__text p {
    .p();
    margin-bottom: 20px;
    opacity: 0.7;
  }

  & .national-impact__button {
    margin-top: 43px;
    color: #3f39cb;
    border-bottom: 1px solid #3f39cb;
    cursor: pointer;
  }

  & .section6-btn {
    right: 88px;
    bottom: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .vision-section3 {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 16px 95px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      z-index: 8;
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      z-index: 8;
      width: 100%;
    }

    &__image-wrapper-img {
      padding-bottom: 45px;
      padding-left: 0;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
    }

    & .national-impact__button {
      margin-top: 20px;
      border-bottom: none;
    }

    &__text {
      padding-top: 32px;
    }

    &__text p {
      font-size: 17px;
      line-height: 22px;
    }

    & .section6-btn {
      right: 18px;
      bottom: 10px;
      transform: translate(0, 0);
    }
  }
}
