@import "../variables";
@import "mixins";

@import "mission-statement";
@import "vision-mission";
@import "message";

.about-sna {
  display: none;
}

.about-sna.show {
  display: block;
  border-bottom: 1px solid #e4e6f2;
  //padding-bottom: 140px;
}
.about-sna .learn-more .section6-btn{
  bottom: 402px;
}
.select.page {
  border-bottom: 1px solid #212122;
}

.select.active.page {
  border-bottom: 1px solid #60b8a3;
}

.select.page:hover,
.select.page:active {
  border-bottom: 1px solid #60b8a3;
}
.arrow-message-block2{
  display: none;
}
.message__block-2{
  display: none;
}
@media screen and (max-width: 768px) {
.about-sna .learn-more .section6-btn{
  bottom: 10px;
}
  .arrow-message-block2{
    display: flex;
  }
  .message__block-2{
    display: block;
  }
 }
