@import "mixins";

.message {
  margin-top: 140px;

  &__decoration {
    .square-decoration();
    right: 26px;
    bottom: 130px;
  }

  &__block-text-button {
    margin-top: 16px;
    color: #3f39cb;
    border-bottom: 1px solid #3f39cb;
    cursor: pointer;
  }
  &__block-text-button.invisible {
    display: none;
  }

  &__block-text-paragraph.invisible {
    display: none;
  }

  &__content-wrapper {
    .content-wrapper();
    position: relative;
  }

  &__block {
    position: relative;
    display: flex;
    justify-content: space-between;

    &-text-content {
      flex-basis: 46.36%;
      padding-top: 102px;
    }

    &-text-content.text {
      animation: bottomTextMessage 0.5s ease 1 forwards;
    }

    &-image-wrapper {
      border-radius: 6px;

      .message__block-image {
        width: 100%;
      }
    }

    &-1 {
      position: relative;
      margin-bottom: 100px;

      .message__block-image-wrapper {
        flex-basis: 48.42%;
      }
    }

    &-2 {
      .message__block-text-content {
        margin-left: 109px;
      }

      .message__block-image-wrapper {
        width: 42.9%;
        max-width: 543px;
        height: 596px;
      }
    }

    &-title {
      .h2();
      margin-bottom: 28px;
    }

    &-subtitle {
      .h4();
      margin-bottom: 32px;
      font-weight: bolder;
    }

    &-text {
      .p();

      span {
        display: block;
        margin-bottom: 24px;
      }
    }
  }
}

.message__block-1 .btn-arrow-wrapper {
  position: absolute;
  bottom: -24px;
  left: 0;
}

.message__content-wrapper .section6-btn {
  right: 88px;
  bottom: -100px;
  transform: translateY(100%);
}

@media screen and (max-width: 768px) {
  .message__block-1 .btn-arrow-wrapper {
    position: static;
    align-self: center;
    order: -1;
    margin-top: 70px;
  }

  .message__content-wrapper .section6-btn {
    right: 18px;
    bottom: 10px;
    transform: translate(0, 100%);
  }

  .message {
    margin-top: 48px;

    &__block-text-button{
      display: none;
    }
    &__decoration {
      display: none;
    }

    &__content-wrapper {
      .content-wrapper-mobile();
    }

    &__block {
      flex-direction: column;

      &-text-content {
        width: 100%;
        padding-top: 0;
      }

      &-image-wrapper {
        margin-bottom: 32px;
        overflow: hidden;
        border-radius: @border-radius-base;

        .message__block-image {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }

      &-1 {
        flex-direction: column-reverse;
        margin-bottom: 48px;

        .message__block-text-content {
          margin-right: 0;
        }

        .message__block-image-wrapper {
          width: 100%;
          max-width: 100%;
          height: 408px;
        }
      }

      &-2 {
        .message__block-text-content {
          margin-left: 0;
          padding-top: 0;
        }

        .message__block-image-wrapper {
          width: 100%;
          max-width: 100%;
          height: 408px;
          margin-bottom: 0;
        }
      }

      &-title {
        .h2-mobile();
        margin-bottom: 20px;
      }

      &-subtitle {
        .h4-mobile();
        margin-bottom: 0;
        font-weight: bolder;
      }

      &-text {
        .p-mobile();

        span {
          display: block;
          margin-bottom: 0;
          padding-top: 16px;
        }
      }
    }
  }
}

@keyframes bottomTextMessage {
  0% {
    padding-top: 102px;
  }
  100% {
    padding-top: 15px;
  }
}
