@import "mixins";

.mission-statement {
  margin-top: 62px;

  &__content-wrapper {
    .content-wrapper();
  }

  &__title {
    .h2();
    margin-bottom: 28px;
    text-align: center;
  }

  &__subtitle {
    .h4();
    margin-bottom: 32px;
    font-weight: bolder;
    text-align: center;
   }

  &__text {
    .p();
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .mission-statement {
    margin-top: 29px;

    &__content-wrapper {
      .content-wrapper-mobile();
    }

    &__title {
      .h2-mobile();
      margin-bottom: 20px;
    }

    &__subtitle {
      .h4-mobile();
      margin-bottom: 16px;
      font-weight: bolder;
    }

    &__text {
      .p-mobile();
    }
  }
}
