@import "../variables";

.h2() {
  margin: 0;
  color: @primary-color;
  font-weight: 700;
  font-size: 38px;
  font-family: @font-family-serif;
  line-height: 52px;
}

.h2-mobile() {
  margin: 0;
  color: @primary-color;
  font-weight: 700;
  font-size: 28px;
  font-family: @font-family-serif;
  line-height: 38px;
}

.h4() {
  margin: 0;
  color: @text-color;
  font-weight: 500;
  font-size: 22px;
  font-family: @font-family-sans-serif;
  line-height: 28px;
}

.h4-mobile() {
  .h4();
  font-size: 20px;
  line-height: 25px;
}

.p() {
  margin: 0;
  color: @text-color;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  line-height: 24px;
}

.p-mobile() {
  .p();
  font-size: 17px;
  line-height: 22px;
}

.content-wrapper() {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 88px;
}

.content-wrapper-mobile() {
  box-sizing: border-box;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 18px;
}

.square-decoration() {
  position: absolute;
  width: 116px;
  height: 116px;

  img {
    width: 100%;
    height: 100%;
  }
}

.square-decoration-mobile() {
  .square-decoration();
  width: 90px;
  height: 90px;
}
