@import "mixins";

.vision-mission {
  margin-top: 74px;
  background: linear-gradient(to bottom, #fff 182px, #f4f5fa 182px 100%);

  &__decoration {
    .square-decoration();

    &-top {
      top: -32px;
      right: 48px;
    }

    &-bottom {
      bottom: -53px;
      left: 88px;
    }
  }

  &__content-wrapper {
    .content-wrapper();
    position: relative;
    padding-bottom: 112px;
  }

  &__image-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 395px;
    margin: 0 auto 44px;
    overflow: hidden;
    border-radius: 6px;

    .vision-mission__image {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text-content {
    display: flex;
    width: 100%;
  }

  &__left-box {
    width: 50%;

    &-title {
      .h2();
    }
  }

  &__right-box {
    width: 50%;

    &-subtitle {
      .h4();
      margin-bottom: 32px;
      font-weight: bolder;
    }

    &-text {
      .p();
    }
  }
}

.vision-mission .btn-arrow-wrapper {
  position: absolute;
  right: 88px;
  bottom: 0;
  transform: translateY(50%) rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .vision-mission {
    margin-top: 45px;
    background: linear-gradient(to bottom, #fff 156px, #f4f5fa 156px 100%);

    &__decoration {
      .square-decoration-mobile();

      &-top {
        display: none;
      }

      &-bottom {
        right: 0;
        bottom: -33px;
        left: unset;
      }
    }

    &__content-wrapper {
      .content-wrapper-mobile();
      padding-bottom: 70px;
    }

    &__image-wrapper {
      width: 100%;
      height: 228px;
      margin: 0 auto 32px;
      overflow: hidden;
      border-radius: @border-radius-base;

      .vision-mission__image {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }

    &__text-content {
      flex-direction: column;
    }

    &__left-box {
      width: 100%;

      &-title {
        .h2-mobile();
        margin-bottom: 20px;
      }
    }

    &__right-box {
      width: 100%;

      &-subtitle {
        .h4-mobile();
        margin-bottom: 16px;
        font-weight: bolder;
      }

      &-text {
        .p-mobile();
      }
    }
  }

  .vision-mission .btn-arrow-wrapper {
    right: 50%;
    transform: translate(50%, 50%) rotate(-90deg);
  }
}
