@import "../variables";
@import "../mixins";
@import "young-talent";

.young-talent {
  display: none;
}

.young-talent.show {
  display: block;
  border-bottom: 1px solid #e4e6f2;
  //padding-bottom: 140px;
}

.select.page {
  border-bottom: 1px solid #212122;
}

.select.active.page {
  border-bottom: 1px solid #60b8a3;
}

.select.page:hover,
.select.page:active {
  border-bottom: 1px solid #60b8a3;
}
