@import "../variables";
@import "../mixins";

.young-talent-development {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 130px 0 80px 88px;
  }

  &__text-content {
    flex-basis: 41.43%;
    padding-top: 25px;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 54.81%;
  }

  &__image-wrapper-img {
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 40px;
  }

  &__image {
    z-index: 2;
    width: calc(100% - 40px);
  }

  &__image-mob {
    display: none;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    .h2();
    font-weight: bold;
    font-size: 41px;
    text-align: end;
  }

  &__subtitle {
    .h4();
    margin-top: 40px;
    font-weight: bolder;
  }

  &__text p {
    .p();
    margin-top: 24px;
    opacity: 0.7;
  }

  &__1 {
    .square-img();
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 1;
  }

  & .btn-arrow-wrapper {
    position: absolute;
    right: 88px;
    bottom: 0;
    transform: translateY(50%) rotate(-90deg);
  }
}

@media screen and (max-width: 1024px) {
  .young-talent-development {
    max-width: 1024px;
    margin: 0 auto;

    &__title-logo{
      display: none;
    }
    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 16px 48px;
    }
    &__text-content {
      padding-top: 0;
    }
    &__image {
      display: none;
    }

    &__image-mob {
      z-index: 8;
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      z-index: 8;
      width: 100%;
    }

    &__image-wrapper-img {
      padding-bottom: 45px;
      padding-left: 0;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
    }

    &__title {
      position: relative;
      z-index: 2;
      margin-top: -16px;
      font-size: 28px;
      line-height: 38px;
      text-align: start;
    }

    &__subtitle {
      margin-top: 20px;
      padding-right: 25px;
      font-weight: bolder;
      font-size: 20px;
      line-height: 25px;
      }

    &__text {
      margin-bottom: 48px;
    }

    &__text p {
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
    }

    & .btn-arrow-wrapper {
      position: static;
      transform: translateY(0) rotate(-90deg);
    }

    &__1 {
      .square-img-mob();
      right: -16px;
      bottom: 0;
      left: auto;
    }
  }
}

.read-more {
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 88px 80px;
  }

  &__image-wrapper {
    position: relative;
    flex-basis: 40.19%;
  }

  &__text-content {
    flex-basis: 48.42%;
    padding-top: 105px;
  }

  &__text-content.text {
    animation: bottomText 0.5s ease 1 forwards;
  }

  &__image {
    z-index: 2;
    width: 100%;
  }

  &__image.bottom {
    position: relative;
    animation: bottomImg 0.5s ease 1 forwards;
  }

  &__image2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  &__subtitle {
    .h4();
    font-weight: bolder;
  }

  &__text {
    .p();
    opacity: 0.7;
  }

  &__text p {
    margin-top: 32px;
  }

  &__button {
    margin-top: 40px;
    color: @primary-color;
    border-bottom: 1px solid $color;
    cursor: pointer;
  }

  &__button.invisible {
    display: none;
  }

  &__paragraph.invisible {
    display: none;
  }

  &__square {
    display: none;
  }
}

@keyframes bottomImg {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 252px;
  }
}

@keyframes bottomText {
  0% {
    padding-top: 105px;
  }
  100% {
    padding-top: 28px;
  }
}

@media screen and (max-width: 1024px) {
  .read-more {
    &__content-wrapper {
      position: relative;
      flex-direction: column;
      max-width: 1024px;
      margin: 0 auto;
      padding: 48px 16px;
    }

    &__image.bottom {
      animation: none;
    }

    &__text-content {
      flex-basis: 100%;
      padding-top: 32px;
    }

    &__text-content.text {
      animation: none;
    }

    &__subtitle {
      font-weight: bolder;
      font-size: 20px;
      line-height: 25px;
      }

    &__text p {
      margin-top: 16px;
    }

    &__text {
      font-size: 17px;
      line-height: 22px;
    }

    &__square {
      .square-img-mob();
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      transform: translateY(50%);
    }
  }
}

.national-impact {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 109px 80px 103px;
  }

  &__info-content {
    position: relative;
    display: block;
    flex-basis: 61.07%;
  }

  &__text-content {
    flex-basis: 30.7%;
    padding-top: 241px;
  }

  &__info-content-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: calc(100% - 47px);
    margin-top: 38px;
    padding-top: 66px;
    padding-bottom: 61px;
    background: #f4f5fa;
    border-radius: 6px;
  }

  &__info-content-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__info-title {
    .h2();
    margin-left: 66px;
    line-height: 48px;
  }

  &__info-text {
    .p();
    margin: 13px 181px 179px 66px;
    opacity: 0.7;
  }

  &__info-diagram-block {
    display: flex;
  }

  &__info-diagram {
    margin-left: 66px;
  }

  &__info-diagram1 {
    flex-basis: 70.02%;
    height: 75px;
    background: #6360b4;
  }

  &__info-diagram2 {
    flex-basis: 52.9%;
    height: 75px;
    background: #a7a5df;
  }

  &__info-diagram3 {
    flex-basis: 43.64%;
    height: 75px;
    background: #fbc63e;
  }

  &__info-diagram-text-wrapper {
    margin-left: 18px;
    padding-top: 7px;
  }

  &__info-diagram-text-percent {
    .text-percent();
  }

  &__info-diagram-text {
    .diagram-text();
  }

  &__info-diagram-hint {
    .diagram-hint();
  }

  &__text-content-title {
    .content-title();
  }

  &__text-content-text {
    .p();
    opacity: 0.7;
  }

  &__text-content-block-2 {
    margin-top: 99px;
  }

  &__button {
    margin-top: 26px;
    color: #3f39cb;
    border-bottom: 1px solid #3f39cb;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .national-impact {
    max-width: 1024px;
    padding-top: 96px;

    &__info-content-1 {
      display: none;
    }

    &__content-wrapper {
      flex-direction: column;
      padding: 48px 16px;
      background: #f4f5fa;
    }

    &__info-content {
      flex-basis: 100%;
    }

    &__info-content-wrapper {
      width: 100%;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 83px;
      border-radius: 0;
    }

    &__info-title {
      margin-left: 0;
      font-size: 28px;
      line-height: 38px;
    }

    &__info-text {
      margin: 20px 0 47px;
    }

    &__info-diagram {
      margin-left: 0;
    }

    &__info-diagram1 {
      flex-basis: 79.06%;
      height: auto;
    }

    &__info-diagram-text-wrapper {
      margin-left: 6px;
      padding-top: 3px;
    }

    &__info-diagram-text {
      margin-bottom: 1px;
      font-size: 12px;
      line-height: 14px;
    }

    &__info-diagram2 {
      flex-basis: 58.1%;
      height: auto;
    }

    &__info-diagram3 {
      flex-basis: 45.25%;
      height: auto;
    }

    &__text-content {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      padding-top: 0;
    }

    &__text-content-text {
      padding-right: 63px;
      font-size: 17px;
      line-height: 22px;
    }

    &__text-content-block-2 {
      margin-top: 29px;
    }

    &__button {
      align-self: center;
      margin-top: 40px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.learn-more {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 126px 88px 128px;
  }

  &__subtitle {
    margin-bottom: 18px;
    color: #e87405;
    font-weight: 500;
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__title {
    .h2();
    width: 52.45%;
    margin-bottom: 68px;
    color: #212122;
    text-align: center;
  }

  &__button {
    padding: 15px 25px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    line-height: 20px;
    text-transform: uppercase;
    background: #3f39cb;
    border: none;
    border-radius: 4px;
    outline: none;
  }

  &__button a {
    color: #ffffff;
  }

  & .section6-btn {
    right: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .learn-more {
    max-width: 1024px;

    &__content-wrapper {
      padding: 96px 16px;
    }

    &__subtitle {
      margin-bottom: 27px;
      font-size: 12px;
      line-height: 16px;
    }

    &__title {
      width: 100%;
      margin-bottom: 44px;
      font-size: 28px;
      line-height: 38px;
    }

    &__button {
      width: 100%;
      padding: 17px 0;
      font-size: 12px;
      line-height: 16px;
    }

    & .section6-btn {
      right: 18px;
      bottom: 10px;
      transform: translate(0, 0);
    }
  }
}
