@import "../variables";
@import "../mixins";

.social-responsibility {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 82px 0 104px 88px;
  }

  &__text-content {
    flex-basis: 41.42%;
    padding-top: 22px;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 54.81%;
  }

  &__image-wrapper-img {
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 44px;
  }

  &__image {
    z-index: 2;
    width: calc(100% - 44px);
  }

  &__image-mob {
    display: none;
  }

  &__title {
    .h2();
    font-weight: bold;
    font-size: 41px;
  }

  &__subtitle {
    .h4();
    margin-top: 40px;
    font-weight: bolder;
  }

  &__1 {
    .square-img();
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 1;
    transform: rotate(180deg);
  }

  & .btn-arrow-wrapper {
    position: absolute;
    bottom: 87px;
    left: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .social-responsibility {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 16px 0;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      z-index: 8;
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      z-index: 8;
      width: 100%;
    }

    &__image-wrapper-img {
      padding-bottom: 32px;
      padding-left: 0;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
    }

    &__text-content {
      padding-top: 0;
      padding-bottom: 48px;
    }

    &__title {
      position: relative;
      z-index: 2;
      font-size: 28px;
      line-height: 38px;
      text-align: start;
    }

    &__subtitle {
      margin-top: 20px;
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      margin-bottom: 48px;
    }

    &__text p {
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
    }

    & .btn-arrow-wrapper {
      position: static;
      transform: translateY(0) rotate(-90deg);
    }

    &__1 {
      .square-img-mob();
      right: -16px;
      bottom: 0;
      left: auto;
    }
  }
}

.social-responsibility-section2 {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 88px 104px 0;
  }

  &__text-content {
    display: flex;
    flex-basis: 42.83%;
    flex-direction: column;
    justify-content: center;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 51.85%;
  }

  &__image {
    width: 100%;
  }

  &__image-mob {
    display: none;
  }

  &__subtitle {
    .h4();
    font-weight: bolder;
  }

  &__text p {
    .p();
    margin-top: 24px;
    opacity: 0.7;
  }

  &__content-wrapper2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0 105px 88px;
  }

  &__text-content2 {
    flex-basis: 43.34%;
    padding-top: 38px;
  }

  &__subtitle2 {
    .h4();
    font-weight: bolder;
  }

  &__text2 p {
    .p();
    margin-top: 32px;
    opacity: 0.7;
  }

  &__square {
    position: absolute;
    bottom: 0;
    left: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .social-responsibility-section2 {
    max-width: 1024px;

    &__content-wrapper {
      flex-direction: column;
      max-width: 1024px;
      padding: 48px 16px;
    }

    &__text-content {
      flex-basis: 100%;
      order: 1;
      padding-top: 32px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 25px;
    }

    &__text p {
      margin-top: 16px;
    }

    &__text {
      font-size: 17px;
      line-height: 22px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }

    &__content-wrapper2 {
      flex-direction: column;
      max-width: 1024px;
      padding: 48px 16px;
    }

    &__text-content2 {
      flex-basis: 100%;
      order: 1;
      padding-top: 32px;
    }

    &__subtitle2 {
      font-size: 20px;
      line-height: 25px;
    }

    &__text2 p {
      margin-top: 16px;
    }

    &__text2 {
      font-size: 17px;
      line-height: 22px;
    }

    &__square {
      display: none;
    }
  }
}

.social-responsibility-section3 {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    display: block;
    box-sizing: border-box;
    padding: 100px 88px 0;
  }

  &__image {
    width: 100%;
  }

  &__image-mob {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .social-responsibility-section3 {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      display: block;
      box-sizing: border-box;
      padding: 48px 16px 0;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }
  }
}

.social-responsibility-section4 {
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1440px;
    margin: -238px auto 0;
    padding: 289px 88px 76px;
  }

  &__text-content {
    flex-basis: 48.42%;
  }

  &__subtitle {
    .h4();
    margin-bottom: 32px;
    font-weight: bolder;
    text-align: center;
  }

  &__text {
    .p();
    text-align: center;
    opacity: 0.7;
  }

  &__square {
    display: none;
  }
}
.national-impact__button{
  margin-top: 26px;
  color: #3f39cb;
  border-bottom: 1px solid #3f39cb;
  cursor: pointer;
}
.learn-more__button a{
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .social-responsibility-section4 {
    &__content-wrapper {
      position: relative;
      max-width: 1024px;
      margin: -218px auto 0;
      padding: 250px 16px 48px;
    }

    &__text-content {
      flex-basis: 100%;
    }

    &__subtitle {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
    }

    &__square {
      .square-img-mob();
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      transform: translateY(50%);
    }
  }
  .national-impact__button{
    align-self: center;
    margin-top: 40px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .social-res.show .national-impact {
    padding-top: 88px;
  }
}
