@import "../variables";
@import "../mixins";
@import "national-engagement";

.national-engagement-outreach {
  display: none;
}

.national-engagement-outreach.show {
  display: block;
  border-bottom: 1px solid #e4e6f2;
}

.select.page {
  border-bottom: 1px solid #212122;
}

.select.active.page {
  border-bottom: 1px solid #60b8a3;
}

.select.page:hover,
.select.page:active {
  border-bottom: 1px solid #60b8a3;
}
