.national-engagement {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 82px 0 119px 88px;
  }

  &__text-content {
    flex-basis: 41.42%;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 54.81%;
  }

  &__image-wrapper-img {
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 44px;
  }

  &__image {
    z-index: 2;
    width: calc(100% - 44px);
  }

  &__image-mob {
    display: none;
  }

  &__title {
    .h2();
    font-weight: bold;
    font-size: 41px;
  }

  &__subtitle {
    .h4();
    margin-top: 40px;
    font-weight: bolder;
  }

  &__text p {
    .p();
    margin-top: 27px;
    opacity: 0.7;
  }

  &__1 {
    .square-img();
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 1;
    transform: rotate(180deg);
  }

  & .btn-arrow-wrapper {
    position: absolute;
    bottom: 0;
    left: 88px;
    transform: translateY(50%) rotate(-90deg);
  }
}

@media screen and (max-width: 1024px) {
  .national-engagement {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 16px 48px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      z-index: 8;
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      z-index: 8;
      width: 100%;
    }

    &__image-wrapper-img {
      padding-bottom: 45px;
      padding-left: 0;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
    }

    &__title {
      position: relative;
      z-index: 2;
      margin-top: -16px;
      font-size: 28px;
      line-height: 38px;
      text-align: start;
    }

    &__subtitle {
      margin-top: 16px;
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      margin-bottom: 48px;
    }

    &__text p {
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
    }

    & .btn-arrow-wrapper {
      position: static;
      transform: translateY(0) rotate(-90deg);
    }

    &__1 {
      .square-img-mob();
      right: -16px;
      bottom: 0;
      left: auto;
      transform: rotate(0);
    }
  }
}

.national-engagement-section2 {
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 129px 88px 106px;
  }

  &__image-wrapper {
    flex-basis: 46.12%;
  }

  &__text-content {
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    z-index: 2;
    width: 100%;
  }

  &__subtitle {
    .h4();
    margin-bottom: 24px;
    font-weight: bolder;
  }

  &__text {
    .p();
    opacity: 0.7;
  }

  &__text-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 44px;
  }

  &__priority {
    margin-top: 8px;
  }

  &__image-mob {
    display: none;
  }

  &__square {
    display: none;
  }
}
.national-impact__button{
  margin-top: 26px;
  color: #3f39cb;
  border-bottom: 1px solid #3f39cb;
  cursor: pointer;
}
.learn-more__button a{
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .national-engagement-section2 {
    &__content-wrapper {
      position: relative;
      flex-direction: column;
      max-width: 1024px;
      margin: 0 auto;
      padding: 48px 16px;
    }

    &__text-content {
      flex-basis: 100%;
      order: 1;
      padding-top: 32px;
    }

    &__subtitle {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 25px;
    }

    &__text p {
      margin-top: 16px;
    }

    &__text {
      font-size: 17px;
      line-height: 22px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }

    &__square {
      .square-img-mob();
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      transform: translateY(50%);
    }
  }
  .national-impact__button{
    align-self: center;
    margin-top: 40px;
    font-size: 12px;
    line-height: 16px;
  }
}
