.institutional-advancement {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 82px 88px 86px 0;
  }

  &__text-content {
    flex-basis: 41.42%;
    padding-top: 16px;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 51.85%;
  }

  &__image-wrapper-img {
    display: block;
    width: 100%;
  }

  &__image {
    z-index: 2;
    width: 100%;
  }

  &__image-mob {
    display: none;
  }

  &__title {
    .h2();
    padding-bottom: 9px;
    font-weight: bold;
    font-size: 41px;
  }

  &__text p {
    .p();
    margin-top: 27px;
    opacity: 0.7;
  }

  &__1 {
    .square-img();
    position: absolute;
    right: 88px;
    bottom: 0;
    left: auto;
    transform: translateY(50%) rotate(180deg);
  }

  & .btn-arrow-wrapper {
    position: absolute;
    bottom: 0;
    left: 88px;
    transform: translateY(50%) rotate(-90deg);
  }
}

.institutional-advancement-section2 {
  display: none;
}

#institutional-advancement-2 {
  display: none;
}
.national-impact__button{
  margin-top: 26px;
  color: #3f39cb;
  border-bottom: 1px solid #3f39cb;
  cursor: pointer;
}
.learn-more__button a{
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  #institutional-advancement-1 {
    display: none;
  }

  #institutional-advancement-2 {
    display: block;
  }

  .institutional-advancement {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 16px 48px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      z-index: 8;
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      position: relative;
      z-index: 8;
      width: 100%;
    }

    &__image-wrapper-img {
      position: relative;
      padding-bottom: 28px;
      padding-left: 0;
    }

    &__image-wrapper {
      // position: relative;
      display: block;
      flex-basis: 100%;
      order: -1;
    }

    &__text-content {
      padding-top: 4px;
      padding-bottom: 48px;
    }

    &__title {
      position: relative;
      z-index: 2;
      // margin-top: -16px;
      font-size: 28px;
      line-height: 38px;
      text-align: start;
    }

    &__subtitle {
      margin-top: 20px;
      font-size: 20px;
      line-height: 25px;
    }

    &__text-mob {
      display: none;
    }

    &__text p {
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
    }

    & .btn-arrow-wrapper {
      position: static;
      transform: translateY(0) rotate(-90deg);
    }

    &__1 {
      .square-img-mob();
      position: absolute;
      right: -16px;
      bottom: 0;
      left: auto;
      transform: rotate(0);
    }

  }

  .institutional-advancement-section2 {
    display: block;
    margin: 0 auto;
    background: #f4f5fa;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      max-width: 1024px;
      margin: 0 auto;
      padding: 48px 16px;
    }

    &__image-wrapper {
      flex-basis: 100%;
    }

    &__text-content {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      justify-content: center;
      order: 1;
      padding-top: 16px;
    }

    &__text p {
      .p();
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
      opacity: 0.7;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }

    &__square {
      .square-img-mob();
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      transform: translateY(50%);
    }
  }
  .national-impact__button{
    align-self: center;
    margin-top: 40px;
    font-size: 12px;
    line-height: 16px;
  }

  #public-visibility-section2{
    padding-top: 0;
  }

}
