@import "variables";

footer {
  max-width: 1440px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 73px 98px 55px 96px;
  background: #ffffff;
}

.logo-footer-wrapper {
  display: flex;
  flex-basis: 56.9%;
  flex-direction: column;
  justify-content: space-between;
}

.logo-footer-text {
  padding-left: 7px;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  line-height: 17px;
  opacity: 0.2;
}

.footer-title {
  padding-top: 7px;
  padding-bottom: 5px;
  color: #212122;
  font-weight: 500;
  font-size: 22px;
  font-family: @font-family-sans-serif;
  line-height: 28px;
  opacity: 0.3;
}

.footer-text {
  padding-top: 12px;
  color: #212122;
  font-weight: normal;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  line-height: 17px;
  opacity: 0.7;
}
.logo-footer-text-bottom {
  display: none;
}
.logo-footer-img {
  cursor: pointer;
}
.logo-footer-mob-img {
  display: none;
}
@media screen and (max-width: 1024px) and (min-width: 767px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 88px 31px 88px;
  }

  .logo-footer-wrapper {
    flex-basis: 100%;
    margin-bottom: 49px;
  }

  .logo-footer-text {
    display: none;
  }

  .footer-text {
    padding-top: 22px;
  }

  .footer-title {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo-footer-text-bottom {
    display: block;
    flex-basis: 100%;
    margin-top: 72px;
  }

  .logo-footer-text-tablet {
    color: #000000;
    font-size: 14px;
    font-family: @font-family-sans-serif;
    font-style: normal;
    line-height: 17px;
    opacity: 0.2;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 47px 16px 24px;
  }
  .logo-footer-img {
    display: none;
  }
  .logo-footer-mob-img {
    display: block;
    cursor: pointer;
  }

  .logo-footer-wrapper {
    flex-basis: 100%;
    margin-bottom: 24px;
  }

  .logo-footer-text {
    display: none;
  }

  .logo-footer-text-bottom {
    display: block;
    flex-basis: 100%;
    order: 1;
    margin-top: 57px;
  }

  .logo-footer-text-tablet {
    color: #000000;
    font-size: 13px;
    font-family: @font-family-sans-serif;
    font-style: normal;
    line-height: 16px;
    opacity: 0.2;
  }

  .footer-title {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 25px;
  }

  .footer-text {
    padding-top: 20px;
    font-size: 17px;
    line-height: 22px;
  }

  .footer-sna-wrapper {
    flex-basis: 53.14%;
  }

  .footer-social-wrapper {
    flex-basis: 29%;
  }

  .footer-menu-wrapper {
    flex-basis: 100%;
    order: 1;
    margin-top: 64px;
  }

  .footer-menu-wrapper-text {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-menu-wrapper-text .footer-text {
    flex-basis: 50%;
  }

  .footer-menu-wrapper-text p:first-child {
    order: -1;
  }

  .footer-menu-wrapper-text p:nth-child(3) {
    order: -1;
  }
}
