@import "variables";

header {
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  color: #212122;
  font-weight: normal;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  line-height: 17px;
}

.header {
  display: block;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 88px 0;
}

.header-wrapper-tablet {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 9px 88px 0 80px;
}

.nav-bar-tablet {
  display: none;
}

a {
  color: #212122;
  text-decoration: none;
}

.logo {
  display: block;
}

.logo-img-link {
  display: block;
}

.logo img {
  width: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu li {
  margin-right: 76px;

  &:last-child {
    margin-right: 0;
  }
}

.header__menu-item {
  padding: 12px 0;
  //border-bottom: 1px solid transparent;
}

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 47px;
  margin-right: 76px;
  color: #212122;
  line-height: 17px;
  border: none;
  outline: none;
}

.select {
  padding: 12px 0;
  cursor: pointer;
}

.select__items {
  position: absolute;
  top: calc(100% + 5px);
  left: -24px;
  z-index: 8;
  display: none;
  flex-direction: column;
  width: fit-content;
  padding: 20px 24px 13px 24px;
  background: #ffffff;
  border-radius: @border-radius-base;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.05);
}

.select__item {
  padding-top: 7px;
  color: #212122;
  font-weight: normal;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0.7;
}

.select svg {
  transform: translateY(-2px);
  fill: #000000;
}

.select-wrapper:hover .select,
.select-wrapper:active .select,
.header__menu-item:hover {
  border-bottom: 1px solid #60b8a3;
}

.select-wrapper:hover .nav-bar-link,
.select-wrapper:active .nav-bar-link,
.header__menu-item:hover .nav-bar-link {
  color: #60b8a3;
}

.select:hover svg.svg-arrow-header,
.select-wrapper:hover svg.svg-arrow-header,
.select-wrapper:active svg.svg-arrow-header {
  fill: #60b8a3;
}

.select.active {
  border-bottom: 1px solid #60b8a3;
}

.select.active .svg-arrow-header {
  transform: rotate(180deg) translateY(-2px);
  fill: #60b8a3;
}

.select.active .nav-bar-link {
  color: #60b8a3;
}

.select__items.active {
  display: flex;
}

.nav-bar {
  display: flex;
}

.header-burger-tablet {
  position: relative;
  width: 55px;
  height: 13px;
  padding: 0;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
}

.header-burger-tablet span {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 13px;
}

.header-burger-tablet span::after,
.header-burger-tablet span::before {
  position: absolute;
  width: 55px;
  height: 3.71px;
  background: #6f635a;
  transition: all 0.3s ease 0s;
  content: "";
}

.header-burger-tablet span::before {
  top: 1px;
  left: 0;
  width: 55px;
}

.header-burger-tablet span::after {
  bottom: 0;
  left: 0;
  width: 55px;
}

.header-dropdown {
  display: none;
}
.header-burger-tablet.active{
  filter: none;
}
.header-burger-tablet.active span {
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.header-burger-tablet.active span::before {
  top: 0;
  z-index: 22;
  background: #ffffff;
  transform: rotate(45deg);
  transition: all 0.3s ease 0s;
}

.header-burger-tablet.active span::after {
  top: 0;
  z-index: 22;
  background: #ffffff;
  transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
}

.header-dropdown.active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.header-dropdown.active body {
  overflow: hidden;
}

.header-wrapper-tablet.active {
  padding: 27px 12.3% 0 78px;
}

.header-dropdown-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.66%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 4px 34px rgba(42, 54, 54, 0.3);
  transform: translateX(-100%);
  animation: show 0.5s ease 1 forwards;
}

.header-dropdown-menu-wrapper {
  display: flex;
  flex-direction: column;
  padding: 28px 0 0 78px;
}

.logo-menu {
  padding-bottom: 14px;
}

.select-wrapper.tablet {
  width: 59px;
  margin-right: 0;
  padding-top: 40px;
  padding-left: 8px;
}

.header__menu.tablet {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
}

.select.tablet {
  padding: 4px 0;
}

.select.tablet svg {
  transform: rotate(-90deg) translateX(1px);
}

.header__menu-item.tablet {
  padding: 4px 0;
}

.header__menu.tablet li {
  margin-top: 40px;
  margin-right: 0;
}

.nav-bar-link.tablet {
  color: #212122;
  font-weight: normal;
  font-size: 17px;
  font-family: @font-family-sans-serif;
  font-style: normal;
  line-height: 22px;
  opacity: 0.7;
}

//@media screen and (max-width: 1024px) and (min-width: 415px) {
@media screen and (max-width: 1024px) and (min-width: 767px) {
  header {
    //max-width: 768px;
    max-width: 1024px;
  }

  .header-wrapper {
    display: none;
  }

  .header-wrapper-tablet {
    display: flex;
  }

  .logo-tablet {
    display: block;
  }

  .logo-mob {
    display: none;
  }

  .select.tablet:hover svg.svg-arrow-header,
  .select-wrapper.tablet:hover svg.svg-arrow-header,
  .select-wrapper.tablet:active svg.svg-arrow-header {
    fill: #212122;
  }

  .select-wrapper:hover .select,
  .select-wrapper:active .select {
    border-bottom: none;
  }

  .select.tablet.active {
    border-bottom: none;
  }

  .select.tablet svg {
    transform: rotate(-90deg);
  }

  .select.tablet.active .svg-arrow-header {
    order: -1;
    transform: rotate(90deg);
    fill: #212122;
  }

  .select__item {
    padding: 4px 0;
    font-size: 17px;
    line-height: 22px;
  }

  .select__item:hover a,
  .select__item:active a {
    color: #60b8a3;
  }

  .select__item:hover,
  .select__item:active {
    border-bottom: 1px solid #60b8a3;
  }

  .select-wrapper.tablet a {
    display: flex;
    align-items: center;
  }

  .select.tablet.active a {
    color: #212122;
    opacity: 0.7;
  }

  .select-wrapper:hover .nav-bar-link {
    color: #212122;
  }

  .sna-back {
    display: none;
  }

  .sna-menu {
    display: block;
  }

  .select.tablet.active .sna-menu {
    display: none;
  }

  .select.tablet.active .sna-back {
    display: block;
  }

  .select__items.tablet {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 8;
    display: none;
    width: max-content;
    height: 100vh;
    padding: 0;
    background: #ffffff;
    border-radius: 0;
    box-shadow: none;
  }

  .select__items.tablet.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8px;
  }

  .select__items li {
    margin-top: 40px;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  header {
    //max-width: 414px;
    flex-direction: column;
    align-items: flex-start;
    //max-width: 414px;
    height: auto;
  }

  .header__menu.tablet {
    padding-left: 0;
  }

  .header-wrapper-tablet {
    display: flex;
    padding: 15px 16px 0 16px;
  }

  .header-wrapper {
    display: none;
  }

  .logo-tablet {
    display: none;
  }

  .logo-mob {
    display: block;
  }

  .header-burger-tablet {
    width: 30px;
    height: 7px;
  }

  .header-burger-tablet span {
    width: 30px;
    height: 7px;
  }

  .header-burger-tablet span::before {
    width: 30px;
  }

  .header-burger-tablet span::after {
    width: 30px;
  }

  .header-burger-tablet span::after,
  .header-burger-tablet span::before {
    height: 2px;
  }

  .header-wrapper-tablet.active {
    padding: 15px 4.68% 0 16px;
  }

  .header-dropdown-wrapper {
    width: 85.02%;
  }

  .header-dropdown-menu-wrapper {
    padding: 15px 0 0 16px;
  }

  .select-wrapper.tablet {
    width: 59px;
    margin-right: 0;
    padding-top: 38px;
    padding-left: 0;
  }

  .select-wrapper.tablet a {
    display: flex;
    align-items: center;
  }

  .select.tablet:hover svg.svg-arrow-header,
  .select-wrapper.tablet:hover svg.svg-arrow-header,
  .select-wrapper.tablet:active svg.svg-arrow-header {
    fill: #212122;
  }

  .select-wrapper:hover .select,
  .select-wrapper:active .select {
    border-bottom: none;
  }

  .select.tablet.active {
    border-bottom: none;
  }

  .select.tablet svg {
    transform: rotate(-90deg);
  }

  .select.tablet.active .svg-arrow-header {
    order: -1;
    transform: rotate(90deg);
    fill: #212122;
  }

  .select__item {
    padding: 4px 0;
    font-size: 17px;
    line-height: 22px;
  }

  .select__item:hover a,
  .select__item:active a {
    color: #60b8a3;
  }

  .select__item:hover,
  .select__item:active {
    border-bottom: 1px solid #60b8a3;
  }

  .select.tablet.active a {
    color: #212122;
    opacity: 0.7;
  }

  .select-wrapper:hover .nav-bar-link {
    color: #212122;
  }

  .sna-back {
    display: none;
  }

  .sna-menu {
    display: block;
  }

  .select.tablet.active .sna-menu {
    display: none;
  }

  .select.tablet.active .sna-back {
    display: block;
  }

  .select__items.tablet {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 8;
    display: none;
    width: max-content;
    height: 100vh;
    padding: 0;
    background: #ffffff;
    border-radius: 0;
    box-shadow: none;
  }

  .select__items.tablet.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }

  .select__items li {
    margin-top: 35px;
    margin-right: 0;
  }
}

@keyframes show {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes notShow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
