@import "variables";

.home {
  display: none;
  min-width: 328px;
  overflow: hidden;
}
.learn-more__button a {
  color: #ffffff;
}
.home.show {
  display: block;
  border-bottom: 1px solid #e4e6f2;
}

.section1-container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 62px 88px 0;
}

.section2 {
  margin-top: -299px;
  background: #f4f5fa;
}

.section2-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 387px 88px 56px;
}

.section2-text {
  flex-basis: 74.52%;
  color: #212122;
  font-weight: bold;
  font-size: 41px;
  font-family: @font-family-serif;
  font-style: normal;
  line-height: 52px;
}

.btn-arrow-wrapper {
  width: 48px;
  height: 48px;
  background-color: #e5e7f3;
  background-image: url(../images/btn-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  border-radius: 100%;
  transform: rotate(-90deg);
}

.section3 {
  background: #ffffff;
}

.section3-container {
  position: relative;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 140px 88px 116px;
}

.about-us {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.section-title {
  margin-bottom: 24px;
  color: @primary-color;
  font-weight: bold;
  font-size: 38px;
  font-family: @font-family-serif;
  font-style: normal;
  line-height: 52px;
  text-align: center;
}

.about-us-text {
  align-self: center;
  width: 48.42%;
  color: #212122;
  font-weight: normal;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  opacity: 0.7;
}

.section3-cards-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 104px;
}

.section3-card {
  flex-basis: 26.9%;
}

.section3-card-title {
  margin-top: 32px;
  margin-bottom: 16px;
  color: #212122;
  font-weight: bold;
  font-size: 28px;
  font-family: @font-family-serif;
  font-style: normal;
  line-height: 40px;
}

.section3-card-text {
  color: #212122;
  font-weight: normal;
  font-size: 16px;
  font-family: @font-family-serif;
  font-style: normal;
  line-height: 24px;
  opacity: 0.7;
}

.section3-btn {
  display: flex;
  justify-content: center;
}

.square {
  width: 116px;
  height: 116px;
  background-color: transparent;
  background-image: url(../images/decor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 116px 116px;
}

.square.section3-square {
  position: absolute;
  top: 0;
  right: 88px;
  transform: translateY(-50%);
}

.section4 {
  background: #ffffff;
}

.section4-container {
  position: relative;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 48px 192px;
  overflow: hidden;
}

.square.section4-square {
  position: absolute;
  top: 73px;
  left: 48px;
}

.section5 {
  background: #ffffff;
}

.section5-container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 88px 56px;
}

.section5-part1 {
  display: flex;
  justify-content: space-between;
}

.part1-card1 {
  flex-basis: 43.35%;
  padding-top: 144px;
}

.part1-card1-title {
  color: #212122;
  font-weight: bolder;
  font-size: 22px;
  font-family: @font-family-sans-serif;
  line-height: 28px;
}

.part1-card1-text {
  margin-top: 32px;
  color: #212122;
  font-weight: normal;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  line-height: 24px;
  opacity: 0.7;
}

.part1-card1-btn {
  margin-top: 44px;
  margin-bottom: 226px;
  padding: 15px 31px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: @primary-color;
  border: none;
  border-radius: @border-radius-base;
  outline: none;
  cursor: pointer;
}
.part1-card1-btn a {
  color: #ffffff;
}
.tab-content-btn a{
  color: #ffffff;
}
.section6-btn a {
  transform: rotate(90deg);
}
.part1-card1-btn a:hover {
  color: #ffffff;
}
.part1-card2 {
  position: relative;
  display: block;
  flex-basis: 51.58%;
}

.section5-square {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.part1-card2-img {
  position: absolute;
  top: 32px;
  left: 38px;
  z-index: 2;
  width: 93.87%;
}

.section5-part2 {
  display: flex;
  justify-content: space-between;
}

.part2-card1 {
  position: relative;
  display: block;
  flex-basis: 45.73%;
}

.section5-square2 {
  position: absolute;
  top: 0;
  right: 0;
}

.part2-card1-img {
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 2;
  width: 93.94%;
}

.part2-card2 {
  position: relative;
  flex-basis: 48.42%;
  padding-top: 87px;
}

.section-title.section5-title {
  margin-bottom: 0;
  padding-bottom: 28px;
  text-align: start;
}

.part2-card2-text {
  padding-bottom: 24px;
  color: #212122;
  font-weight: normal;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  line-height: 24px;
  opacity: 0.7;
}

.part2-card2 button {
  margin-top: 20px;
  margin-bottom: 140px;
  //margin-left: 74px;
}

.section5-square3 {
  position: absolute;
  right: 6px;
  bottom: 0;
}

.section6 {
  background: #f4f5fa;
}

.section6-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 88px;
}

.section6-card1 {
  flex-basis: 43.04%;
}

.tab-content {
  display: none;
  margin-top: -40px;
  padding: 44px 44px 56px;
  background: @primary-color;
  border-radius: 6px;
}

.tab-content.open {
  display: block;
}

.section6-wrapper {
  position: relative;
  flex-basis: 48.42%;
  padding: 110px 0;
}

.section-title.section6-title {
  margin-bottom: 12px;
  text-align: start;
}

.section6-text {
  padding-bottom: 12px;
  color: #212122;
  font-weight: normal;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  line-height: 24px;
  opacity: 0.7;
}

.section6-text span {
  padding: 0 100px 12px 108px;
}

.section6-tabs-title {
  padding-top: 27px;
}

.section6-content-title {
  color: @primary-color;
  font-weight: bold;
  font-size: 28px;
  font-family: @font-family-serif;
  line-height: 40px;
  cursor: pointer;
  opacity: 0.2;
}

.section6-content-title span {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}

.section6-content-title:hover {
  opacity: 1;
}

.section6-tabs-title p {
  display: none;
  padding: 8px 0 6px 0;
  color: #212122;
  font-weight: normal;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  line-height: 24px;
  opacity: 0.7;
}

.section6-tabs-title.active .section6-content-title {
  color: #212122;
  opacity: 1;
}

.section6-tabs-title.active p {
  display: block;
}

.tab-content-title {
  padding: 27px 0 14px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  font-family: @font-family-sans-serif;
  line-height: 28px;
}

.tab-content-text {
  padding-bottom: 22px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  line-height: 24px;
  opacity: 0.7;
}

.tab-content-btn {
  margin-top: 10px;
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  font-style: normal;
  line-height: 14px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  cursor: pointer;
}

.tab-content-btn:hover {
  color: #e87405;
  border-bottom: 1px solid #e87405;
}

.tab-content-btn:hover a{
  color: #e87405;
  }

.section6-btn {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.section6-btn-to-top {
  margin-top: 12px;
  color: #212122;
  font-weight: 500;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1366px) and (min-width: 1281px) {
  .section2-text {
    font-size: 36px;
    line-height: 47px;
  }

  .part1-card1 {
    padding-top: 100px;
  }

  .part1-card1-btn {
    margin-top: 34px;
    margin-bottom: 116px;
  }

  .section3-container {
    padding: 140px 88px 100px;
  }

  .section4-container {
    padding: 0 48px 132px;
  }

  .section6-wrapper {
    padding: 80px 0;
  }

  .section-title.section6-title {
    padding-left: 80px;
  }

  .section6-text {
    padding: 0 50px 12px 80px;
  }

  .section6-text span {
    padding: 0 50px 12px 80px;
  }

  .section6-tabs-title {
    padding: 27px 0 0 80px;
  }
}

@media screen and (max-width: 1281px) and (min-width: 1024px) {
  .section2-text {
    font-size: 30px;
    line-height: 41px;
  }

  .part1-card1-title {
    padding-right: 50px;
  }

  .part1-card1-text {
    padding-right: 50px;
  }

  .section-title.section5-title {
    padding: 0 50px 28px 50px;
  }

  .part2-card2-text {
    padding: 0 50px 24px 50px;
  }

  .part1-card1 {
    padding-top: 50px;
  }

  .part1-card1-btn {
    margin-top: 30px;
    margin-bottom: 86px;
  }

  .part2-card2 button {
    margin-bottom: 90px;
  }

  .section4-container {
    padding: 0 48px 92px;
  }

  .section3-container {
    padding: 140px 88px 86px;
  }

  .section6-wrapper {
    padding: 30px 0;
  }

  .section-title.section6-title {
    padding-left: 50px;
  }

  .section6-text {
    padding: 0 10px 12px 50px;
  }

  .section6-text span {
    padding: 0 10px 12px 50px;
  }

  .section6-tabs-title {
    padding: 27px 0 0 50px;
  }
}

//@media screen and (max-width: 1024px) and (min-width: 415px) {
@media screen and (max-width: 1024px) and (min-width: 767px) {
  .section1-container {
    max-width: 1024px;
  }
  .section2 {
    margin-top: -144px;
    background: #f4f5fa;
  }

  .section2-container {
    flex-direction: column;
    max-width: 1024px;
    padding: 193px 88px 100px;
  }

  .section2-text {
    padding-right: 34px;
    padding-bottom: 60px;
    font-size: 28px;
    line-height: 35px;
  }

  .btn-arrow-wrapper {
    align-self: center;
    width: 44px;
    height: 44px;
  }

  .section3-container {
    max-width: 1024px;
    padding: 100px 88px;
  }

  .about-us {
    margin-bottom: 55px;
  }

  .section-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  .square.section3-square {
    top: 0;
    right: 29px;
  }

  .about-us-text {
    width: 100%;
    line-height: 22px;
  }

  .section3-cards-wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }

  .section3-card {
    flex-basis: 100%;
    width: 64.53%;
    text-align: center;
  }

  .section3-cards-wrapper .section3-card {
    margin-bottom: 64px;
  }

  .section3-cards-wrapper .section3-card:last-child {
    margin-bottom: 0;
  }

  .section3-card-title {
    margin-top: 24px;
    font-size: 22px;
    line-height: 40px;
  }

  .section3-card-text {
    line-height: 22px;
  }

  .section4-container {
    max-width: 936px;
    padding: 0 0 60px 88px;
    overflow: visible;
  }

  .square.section4-square {
    top: 26px;
    left: 45px;
  }

  .section5-container {
    max-width: 1024px;
    padding: 0 88px 40px 88px;
   }

  .section5-part1 {
    display: flex;
    flex-direction: column;
  }

  .part1-card1 {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    width: 100%;
    padding-top: 28px;
  }

  .part1-card2 {
    display: flex;
    order: -1;
    width: 100%;
  }

  .section5-square,
  .section5-square2 {
    right: -43px;
    left: auto;
  }

  .part1-card2-img {
    position: static;
    display: block;
    order: -1;
    width: 100%;
    margin-top: 35px;
  }

  .part1-card1-title {
    padding-right: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }

  .part1-card1-text {
    margin-top: 20px;
    padding-right: 0;
    font-size: 17px;
    line-height: 22px;
  }

  .part1-card1-btn {
    align-self: center;
    margin-top: 44px;
    margin-bottom: 60px;
    padding: 17px 132px;
    font-size: 12px;
    line-height: 16px;
  }

  .section5-part2 {
    flex-direction: column;
  }

  .part2-card1 {
    display: flex;
    flex-basis: 100%;
    width: 100%;
  }

  .part2-card1-img {
    position: static;
    z-index: 2;
    display: block;
    order: -1;
    width: 100%;
    margin-top: 35px;
  }

  .part2-card2 {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding-top: 59px;
  }

  .section-title.section5-title {
    padding: 0 0 21px;
  }

  .part2-card2-text {
    margin-bottom: 20px;
    padding: 0;
    font-size: 17px;
    line-height: 22px;
  }

  .part2-card2 button {
    margin-top: 44px;
    margin-bottom: 60px;
    margin-left: 0;
  }
  .section5-square3 {
    display: none;
  }

  .section6-container {
    position: relative;
    flex-direction: column;
    //max-width: 768px;
    max-width: 1024px;
    padding: 100px 88px;
  }

  .section6-card1 {
    display: none;
  }

  .section6-wrapper {
    position: static;
    flex-basis: 100%;
    padding: 0 0 46px;
  }

  .section-title.section6-title {
    margin-bottom: 20px;
    padding-left: 0;
    text-align: start;
  }

  .section6-text {
    padding: 0;
    font-size: 17px;
    line-height: 22px;
  }

  .tabs {
    display: none;
  }

  .section6-btn {
    right: 35px;
    bottom: 28px;
  }

  .tab-content-title {
    padding: 32px 0 25px;
    font-size: 20px;
    line-height: 28px;
  }

  .tab-content-text {
    padding-bottom: 25px;
    font-size: 17px;
  }

  .tab-content-btn {
    align-self: center;
    padding-top: 22px;
  }
}

@media screen and (max-width: 767px) {
  .section1-container {
    padding: 32px 16px 0;
  }

  .section2 {
    margin-top: -112px;
  }

  .section2-container {
    flex-direction: column;
    padding: 142px 16px 39px;
  }

  .section2-text {
    padding-bottom: 27px;
    font-size: 28px;
    line-height: 38px;
  }

  .btn-arrow-wrapper {
    align-self: center;
    width: 32px;
    height: 32px;
    background-size: 24.25px 24.25px;
  }

  .square.section3-square {
    display: none;
  }

  .section3-container {
    padding: 48px 16px 96px;
  }

  .about-us {
    margin-bottom: 48px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
  }

  .about-us-text {
    width: 100%;
    font-size: 17px;
    line-height: 22px;
  }

  .section3-cards-wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
  }

  .section3-card {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
  }

  .section3-cards-wrapper .section3-card {
    margin-bottom: 56px;
  }

  .section3-cards-wrapper .section3-card:last-child {
    margin-bottom: 0;
  }

  .section3-card img {
    width: 50px;
    height: 50px;
  }

  .section3-card-title {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 28px;
  }

  .section3-card-text {
    font-size: 17px;
    line-height: 22px;
  }

  .section4-container {
    padding: 0 0 96px 16px;
  }

  .section4 .section-title {
    margin-bottom: 28px;
  }

  .square.section4-square {
    display: none;
  }

  .section5-container {
    // max-width: 414px;
    width: 100%;
    padding: 0 16px 48px;
  }

  .section5-part1 {
    display: flex;
    flex-direction: column;
  }

  .part1-card2 {
    display: flex;
    order: -1;
    width: 100%;
  }

  .section5-square,
  .section5-square2 {
    top: auto;
    right: -16px;
    bottom: 0;
    left: auto;
  }

  .part1-card2-img,
  .part2-card1-img {
    position: static;
    display: block;
    order: -1;
    width: 100%;
    margin-top: 0;
    margin-bottom: 17px;
  }

  .part1-card1,
  .part2-card2 {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    width: 100%;
    padding-top: 9px;
  }

  .part1-card1-title {
    padding-right: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }

  .part1-card1-text,
  .part2-card2-text {
    margin-top: 16px;
    padding-right: 0;
    font-size: 17px;
    line-height: 22px;
  }

  .part2-card2-text {
    padding: 0;
  }

  .part1-card1-btn,
  .part2-card2 button {
    align-self: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 17px 0;
    font-size: 12px;
    line-height: 16px;
  }

  .part2-card2 button {
    margin-left: 0;
  }

  .section5-part2 {
    flex-direction: column;
    margin-top: 111px;
  }

  .part2-card1 {
    display: flex;
    flex-basis: 100%;
    width: 100%;
  }

  .section-title.section5-title {
    padding: 0;
  }

  .section5-square3 {
    display: none;
  }

  .section6-container {
    position: relative;
    flex-direction: column;
    //max-width: 414px;
    padding: 56px 16px 48px;
  }

  .section6-card1 {
    display: none;
  }

  .section6-wrapper {
    position: static;
    flex-basis: 100%;
    padding: 0 0 78px;
  }

  .section-title.section6-title {
    margin-bottom: 20px;
    padding-left: 0;
    text-align: start;
  }

  .section6-text {
    padding: 0;
    font-size: 17px;
    line-height: 22px;
  }

  .tabs {
    display: none;
  }

  .section6-btn {
    right: 18px;
    bottom: 10px;
    z-index: 20;
    transform: none;
  }

  .tab-content-title {
    padding: 32px 0;
    font-size: 20px;
    line-height: 25px;
  }

  .tab-content-text {
    padding-bottom: 25px;
    font-size: 17px;
    line-height: 22px;
  }

  .tab-content-btn {
    align-self: center;
    padding-top: 0;
  }

  .section6-btn .btn-arrow-wrapper {
    width: 48px;
    height: 48px;
    background-size: 25.71px 25.71px;
  }
}
