@import "variables";
@import "mixins";
@import "reset";
@import "header";
@import "swiper-slider1";
@import "national-impact";
@import "home";
@import "footer";

* {
  margin: 0;
  padding: 0;
}

//noinspection CssInvalidPropertyValue
html {
  height: -webkit-fill-available;
}

//noinspection CssInvalidPropertyValue
body {
  //noinspection Stylelint
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  margin: 0;
  overflow-x: hidden;
  color: @text-color;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: normal;
  font-size: @font-size-base;
  font-family: @font-family-sans-serif;
  line-height: @line-height-base;
  background: @background-color;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body,
html {
  height: 100%;
}

main {
  //padding: 64px 88px;
  padding: 0;
  background: @background-color;
}

a {
  color: @text-color;
  &:hover {
    color: @highlight-color;
  }
}

button {
  color: @text-color-inverse;
  background-color: @primary-color;
  cursor: pointer;
  filter: drop-shadow(0px 3px 10px rgba(11, 10, 65, 0.2));
}
