@import "variables";

.h2() {
  margin: 0;
  color: @primary-color;
  font-weight: 700;
  font-size: 38px;
  font-family: @font-family-serif;
  line-height: 52px;
}

.h4() {
  margin: 0;
  color: @text-color;
  font-weight: 500;
  font-size: 22px;
  font-family: @font-family-sans-serif;
  line-height: 28px;
}

.p() {
  margin: 0;
  color: @text-color;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  line-height: 24px;
}

.content-wrapper() {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 88px;
}

.square-img() {
  width: 116px;
  height: 116px;
  background-color: transparent;
  background-image: url("../../images/decor.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 116px 116px;
}

.square-img-mob() {
  width: 90px;
  height: 90px;
  background-color: transparent;
  background-image: url("../../images/decor-mob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90px 90px;
}

.text-percent() {
  margin-bottom: 6px;
  color: #000000;
  font-weight: bolder;
  font-size: 20px;
  font-family: @font-family-sans-serif;
  font-style: normal;
  line-height: 24px;
}

.diagram-text() {
  margin-bottom: 2px;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  font-style: normal;
  line-height: 17px;
}

.diagram-hint() {
  color: #000000;
  font-weight: normal;
  font-size: 11px;
  font-family: @font-family-sans-serif;
  font-style: normal;
  line-height: 127.5%;
  opacity: 0.4;
}

.content-title() {
  margin-bottom: 13px;
  color: #212122;
  font-weight: bold;
  font-size: 51px;
  font-family: @font-family-serif;
  font-style: normal;
  line-height: 64px;
}
.btn-link(){
  margin-top: 26px;
  padding-bottom: 4px;
  color: @primary-color;
  font-weight: 500;
  font-size: 14px;
  font-family: @font-family-sans-serif;
  font-style: normal;
  line-height: 14px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-bottom: 1px solid @primary-color;
  outline: none;
  cursor: pointer;
}

.btn-link-hover(){
  .btn-link();
  color: @highlight-color;
  border-bottom: 1px solid @highlight-color;
}