.national-impact {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 109px 80px 103px;
  }

  &__info-content {
    position: relative;
    display: block;
    flex-basis: 61.07%;
  }

  &__text-content {
    flex-basis: 30.7%;
    padding-top: 241px;
  }

  &__info-content-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: calc(100% - 47px);
    margin-top: 38px;
    padding-top: 66px;
    padding-bottom: 61px;
    background: #f4f5fa;
    border-radius: 6px;
  }

  &__info-content-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__info-title {
    .h2();
    margin-left: 66px;
    line-height: 48px;
  }

  &__info-text {
    .p();
    margin: 13px 181px 179px 66px;
    opacity: 0.7;
  }

  &__info-diagram-block {
    display: flex;
  }

  &__info-diagram {
    margin-left: 66px;
  }

  &__info-diagram1 {
    flex-basis: 70.02%;
    height: 75px;
    background: #6360b4;
  }

  &__info-diagram2 {
    flex-basis: 52.9%;
    height: 75px;
    background: #a7a5df;
  }

  &__info-diagram3 {
    flex-basis: 43.64%;
    height: 75px;
    background: #fbc63e;
  }

  &__info-diagram-text-wrapper {
    margin-left: 18px;
    padding-top: 7px;
  }

  &__info-diagram-text-percent {
    .text-percent();
  }

  &__info-diagram-text {
    .diagram-text();
  }

  &__info-diagram-hint {
    .diagram-hint();
  }

  &__text-content-title {
    .content-title();
  }

  &__text-content-text {
    .p();
    opacity: 0.7;
  }

  &__text-content-block-2 {
    margin-top: 99px;
  }

  &__button {
    margin-top: 26px;
    color: @primary-color;
    border-bottom: 1px solid $color;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .national-impact {
    max-width: 1024px;
    padding-top: 96px;

    &__info-content-1 {
      display: none;
    }

    &__content-wrapper {
      flex-direction: column;
      padding: 48px 16px;
      background: #f4f5fa;
    }

    &__info-content {
      flex-basis: 100%;
    }

    &__info-content-wrapper {
      width: 100%;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 83px;
      border-radius: 0;
    }

    &__info-title {
      margin-left: 0;
      font-size: 28px;
      line-height: 38px;
    }

    &__info-text {
      margin: 20px 0 47px;
    }

    &__info-diagram {
      margin-left: 0;
    }

    &__info-diagram1 {
      flex-basis: 79.06%;
      height: auto;
    }

    &__info-diagram-text-wrapper {
      margin-left: 6px;
      padding-top: 3px;
    }

    &__info-diagram-text {
      margin-bottom: 1px;
      font-size: 12px;
      line-height: 14px;
    }

    &__info-diagram2 {
      flex-basis: 58.1%;
      height: auto;
    }

    &__info-diagram3 {
      flex-basis: 45.25%;
      height: auto;
    }

    &__text-content {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      padding-top: 0;
    }

    &__text-content-text {
      padding-right: 63px;
      font-size: 17px;
      line-height: 22px;
    }

    &__text-content-block-2 {
      margin-top: 29px;
    }

    &__button {
      align-self: center;
      margin-top: 40px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.learn-more {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 126px 88px 128px;
  }

  &__subtitle {
    margin-bottom: 18px;
    color: #e87405;
    font-weight: 500;
    font-size: 14px;
    font-family: @font-family-sans-serif;
    font-style: normal;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__title {
    .h2();
    width: 52.45%;
    margin-bottom: 68px;
    color: #212122;
    text-align: center;
  }

  &__button {
    padding: 15px 25px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    font-family: @font-family-sans-serif;
    font-style: normal;
    line-height: 20px;
    text-transform: uppercase;
    background: #3f39cb;
    border: none;
    border-radius: @border-radius-base;
    outline: none;
  }

  & .section6-btn {
    right: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .learn-more {
    max-width: 1024px;

    &__content-wrapper {
      padding: 96px 16px;
    }

    &__subtitle {
      margin-bottom: 27px;
      font-size: 12px;
      line-height: 16px;
    }

    &__title {
      width: 100%;
      margin-bottom: 44px;
      font-size: 28px;
      line-height: 38px;
    }

    &__button {
      width: 100%;
      padding: 17px 0;
      font-size: 12px;
      line-height: 16px;
    }

    & .section6-btn {
      right: 18px;
      bottom: 10px;
      transform: translate(0, 0);
    }
  }
}
