@background-color: #ffffff;
@grey-background-color: #f4f5fa;

@text-color: #212122;
@text-color-inverse: #ffffff;

@primary-color: #3f39cb;
@highlight-color: #e87405;

@border-radius-base: 4px;

@font-size-base: 16px;
@line-height-base: 1.5;
@font-family-sans-serif: "Helvetica Neue", sans-serif;
@font-family-serif: "Merriweather", serif;
