@import "../variables";
@import "../mixins";

.specialized-enrichment {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 130px 88px 104px 0;
  }

  &__text-content {
    flex-basis: 41.43%;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 54.81%;
  }

  &__image-wrapper-img {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__image {
    z-index: 2;
    width: calc(100% - 40px);
  }

  &__image-mob {
    display: none;
  }

  &__title {
    .h2();
    font-size: 41px;
  }

  &__subtitle {
    .h4();
    margin-top: 40px;
    font-weight: bolder;
  }

  &__text p {
    .p();
    margin-top: 29px;
    opacity: 0.7;
  }

  &__1 {
    .square-img();
    position: absolute;
    right: 0;
    bottom: -40px;
    z-index: 1;
  }

  & .btn-arrow-wrapper {
    position: absolute;
    bottom: 0;
    left: 168px;
    transform: translateY(50%) rotate(-90deg);
  }
}

@media screen and (max-width: 1024px) {
  .specialized-enrichment {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 16px 48px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      z-index: 8;
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      z-index: 8;
      width: 100%;
    }

    &__image-wrapper-img {
      padding-bottom: 45px;
      padding-left: 0;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
    }

    &__title {
      position: relative;
      z-index: 2;
      margin-top: -16px;
      font-size: 28px;
      line-height: 38px;
      text-align: start;
    }

    &__subtitle {
      margin-top: 20px;
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      margin-bottom: 48px;
    }

    &__text p {
      margin-top: 16px;
      font-size: 17px;
      line-height: 22px;
    }

    & .btn-arrow-wrapper {
      position: static;
      transform: translateY(0) rotate(-90deg);
    }

    &__1 {
      .square-img-mob();
      right: -16px;
      bottom: 0;
      left: auto;
    }
  }
}

.specialized-enrichment-section2 {
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 104px 88px 104px 157px;
  }

  &__image-wrapper {
    flex-basis: 51.21%;
  }

  &__text-content {
    flex-basis: 37.41%;
     align-self: center;
  }

  &__image {
    z-index: 2;
    width: 100%;
  }

  &__subtitle {
    .h4();
       font-weight: bolder;
    }

  &__text {
    .p();
    opacity: 0.7;
  }

  &__text-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 44px;
  }
  &__text p {
    margin-left: 8px;
    padding-top: 8px;
  }

  &__image-mob {
    display: none;
  }

  &__square {
    display: none;
  }
}
.national-impact__button{
  margin-top: 26px;
  color: #3f39cb;
  border-bottom: 1px solid #3f39cb;
  cursor: pointer;
}
.learn-more__button a{
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .specialized-enrichment-section2 {
    &__content-wrapper {
      position: relative;
      flex-direction: column;
      max-width: 1024px;
      margin: 0 auto;
      padding: 48px 16px 0;
    }
    &__text-wrapper {
      margin-top: 0;
      margin-bottom: 48px;
    }
    &__text-content {
      flex-basis: 100%;
      order: 1;
      padding-top: 32px;
    }

    &__subtitle {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 25px;
    }

    &__text p {
      margin-top: 0;
      margin-left: 0;
      padding-top: 2px;
    }

    &__text {
      font-size: 17px;
      line-height: 22px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }

    &__priority {
      margin-top: 0;
    }

    &__square {
      .square-img-mob();
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      transform: translateY(50%);
    }
  }
  .national-impact__button{
    align-self: center;
    margin-top: 40px;
    font-size: 12px;
    line-height: 16px;
  }
}
.specialized-enrichment-programs{
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    position: relative;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 104px 88px 144px;
  }
  & .section6-btn {
    right: 88px;
    bottom: 32px;
  }
  &__text-content{
    margin-bottom: 48px;
  }
    &__title {
      .h2();
     }
&__programs-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
&__program-image{
  display: block;
  width: 100%;
}
&__program-text-wrapper{
  padding-top: 32px;
}
&__program-title{
  margin-bottom: 16px;
  color: @text-color;
  font-weight: 700;
  font-size: 17px;
  font-family: @font-family-serif;
  line-height: 23.39px;
}
&__program-date{
  .p();
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  opacity: 0.4;
}
}
@media screen and (max-width: 1024px) {
  .specialized-enrichment-programs {
    margin: 0 auto;
    background: #f4f5fa;

    &__content-wrapper {
      max-width: 1024px;
      margin: 0 auto;
      padding: 44px 16px 48px;
    }

    & .section6-btn {
      right: 18px;
      bottom: 18px;
      transform: translate(0, 0);
    }
    &__text-content {
      margin-bottom: 54px;
    }
    &__title {
      font-size: 28px;
      line-height: 38px;
    }
    &__program{
      width: 100%;
      margin-bottom: 48px;
         }
    &__program-text-wrapper {
      padding-top: 20px;
    }
    &__program-title {
      font-weight: bolder;
      font-size: 20px;
      font-family: @font-family-sans-serif;
      line-height: 27.52px;
      }
  }
}
