.error505 {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   box-sizing: border-box;
    padding-top: 0;
  }
  &__image-wrapper {
    display: block;
    width: 54.17%;
   }
  &__image {
    width: 100%;
  }
  &__text-content{
    margin-top: -48px;
    text-align: center;
  }

  &__title {
    .h2();
    line-height: 48px;
  }

  &__text p {
    .p();
    margin-top: 24px;
    margin-bottom: 48px;
    opacity: 0.7;
  }
  & button{
    padding: 15px 58px;
  }
}
@media screen and (max-width: 1024px) {
  .error505 {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      padding: 35px 16px;
    }
    &__image-wrapper {
      width: 100%;
     }
    &__text-content {
      margin-top: 0;
    }
    &__text p {
      font-size: 17px;
      line-height: 22px;
    }
  }
}