@import "../variables";
@import "../mixins";
@import "saudi-graduate";

.saudi-graduate {
  display: none;
}

.saudi-graduate.show {
  display: block;
  border-bottom: 1px solid #e4e6f2;
  //padding-bottom: 140px;
}

.select.page {
  border-bottom: 1px solid #212122;
}

.select.active.page {
  border-bottom: 1px solid #60b8a3;
}

.select.page:hover,
.select.page:active {
  border-bottom: 1px solid #60b8a3;
}

.saudi-graduate .news-recommendations {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 139px 0 106px 88px;
}
.saudi-graduate .news-recommendations__text-content .learn-more__button{
  margin-top: 51px;
}

@media screen and (max-width: 1024px) {

  .saudi-graduate .news-recommendations {
    max-width: 1024px;
    padding: 96px 16px;
  }

  .saudi-graduate .news-recommendations__content-wrapper {
    flex-direction: column;
    margin-top: 0;
  }
  .saudi-graduate .news-recommendations__text-content .learn-more__button {
    display: none;
  }
  .saudi-graduate .news-recommendations__title {
    margin-bottom: 48px;
  }
}