@import "../variables";
@import "../mixins";

.saudi-graduate-recruitment {
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 130px 88px 104px 0;
  }

  &__text-content {
    flex-basis: 45.27%;
  }

  &__image-wrapper {
    display: block;
    flex-basis: 49.04%;
  }

  &__image-wrapper-img {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__image {
    z-index: 2;
    width: calc(100% - 38px);
    border-radius: 6px;
  }

  &__image-mob {
    display: none;
  }

  &__title {
    .h2();
    font-size: 41px;
  }

  &__subtitle {
    .h4();
    margin-top: 40px;
    padding-right: 23px;
    font-weight: bolder;
  }

  &__text p {
    .p();
    margin-top: 29px;
    padding-right: 33px;
    opacity: 0.7;
  }

  &__1 {
    .square-img();
    position: absolute;
    right: 0;
    bottom: -40px;
    z-index: 1;
  }

  & .btn-arrow-wrapper {
    position: absolute;
    bottom: 0;
    left: 88px;
    transform: translateY(50%) rotate(-90deg);
  }
}

@media screen and (max-width: 1024px) {
  .saudi-graduate-recruitment {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 16px 48px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      z-index: 8;
      display: block;
      width: 100%;
    }

    &__image-wrapper-img img {
      z-index: 8;
      width: 100%;
    }

    &__image-wrapper-img {
      padding-bottom: 45px;
      padding-left: 0;
    }

    &__image-wrapper {
      display: block;
      flex-basis: 100%;
      order: -1;
    }

    &__title {
      position: relative;
      z-index: 2;
      margin-top: -16px;
      font-size: 28px;
      line-height: 38px;
      text-align: start;
    }

    &__subtitle {
      margin-top: 20px;
      padding-right: 0;
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      margin-bottom: 48px;
    }

    &__text p {
      margin-top: 16px;
      padding-right: 0;
      font-size: 17px;
      line-height: 22px;
    }

    & .btn-arrow-wrapper {
      position: static;
      transform: translateY(0) rotate(-90deg);
    }

    &__1 {
      .square-img-mob();
      right: -16px;
      bottom: 0;
      left: auto;
    }
  }
}

.saudi-graduate-section2 {
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 104px 0 104px 88px;
  }

  &__image-wrapper {
    flex-basis: 51.85%;
  }

  &__text-content {
    flex-basis: 43.34%;
    padding-top: 62px;
  }

  &__image {
    z-index: 2;
    width: 100%;
  }

  &__subtitle {
    .h4();
    font-weight: bolder;
  }

  &__text {
    .p();
    opacity: 0.7;
  }

  &__text p {
    margin-top: 24px;
  }

  &__image-mob {
    display: none;
  }

  &__square {
    display: none;
  }
}
.national-impact__button{
  margin-top: 26px;
  color: #3f39cb;
  border-bottom: 1px solid #3f39cb;
  cursor: pointer;
}
.learn-more__button a{
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .saudi-graduate-section2 {
    &__content-wrapper {
      position: relative;
      flex-direction: column;
      max-width: 1024px;
      margin: 0 auto;
      padding: 48px 16px;
    }

    &__text-content {
      flex-basis: 100%;
      order: 1;
      padding-top: 32px;
    }

    &__subtitle {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 25px;
    }

    &__text p {
      margin-top: 16px;
    }

    &__text {
      font-size: 17px;
      line-height: 22px;
    }

    &__image {
      display: none;
    }

    &__image-mob {
      display: block;
      width: 100%;
    }

    &__square {
      .square-img-mob();
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      transform: translateY(50%);
    }
  }
  .national-impact__button{
    align-self: center;
    margin-top: 40px;
    font-size: 12px;
    line-height: 16px;
  }
}
.saudi-graduate-contact-info{
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
    display: flex;
    justify-content: center;
    padding: 119px 88px 31px;
  }
  &__title{
    .h2();
    flex-basis: 31.41%;
    margin-right: 10px;
    font-size: 48px;
  }
  &__contact-data-wrapper{
    flex-basis: 28.8%;
  }

  &__contact-data{
    margin-bottom: 75px;
  }

  &__subtitle {
    .h4();
    padding-bottom: 8px;
    color: #000000;
    font-weight: bolder;
    opacity: 0.7;
  }
  &__text p {
    .p();
    margin-top: 16px;
    opacity: 0.7;
  }
  &__text a {
    .p();
   color: @primary-color;
   line-height: 20.4px;
   }
}
@media screen and (max-width: 1024px) {
  .saudi-graduate-contact-info {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      flex-direction: column;
      padding: 96px 29px 48px 43px;
    }
    &__title {
      flex-basis: 100%;
      margin: 0 0 32px;
      font-size: 28px;
      line-height: 35px;
     }
    &__contact-data {
      margin-bottom: 48px;
    }
    &__subtitle {
      padding-bottom: 0;
      font-size: 20px;
      line-height: 25.5px;
    }
    &__text p,  &__text a{
      font-size: 17px;
      line-height: 21.67px;
     }
   }
}
.saudi-graduate-hiring{
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px 0 152.18px;
  }
  &__image-wrapper {
    flex-basis: 31.65%;
    margin-top: -54.02px;
    margin-bottom: -38.66px;
  }
  & .learn-more__content-wrapper {
    flex-basis: 52.75%;
    justify-content: center;
    padding: 0;
    }
  & .learn-more__title {
    width: 100%;
    margin-bottom: 44px;
    font-size: 28px;
    line-height: 40px;
    text-align: start;
  }
  }
.saudi-graduate-event-btn{
  display: none;
}
@media screen and (max-width: 1024px) {
  .saudi-graduate-hiring{
    &__content-wrapper {
      max-width: 1024px;
      margin: 0 auto;
      padding: 96px 16px;
    }
    &__image-wrapper{
      display: none;
    }
& .learn-more__content-wrapper {
  flex-basis: 100%;
}
  }
  .saudi-graduate-event-btn{
    display: block;
    margin-top: 24px;
  }
}
.saudi-graduate-learn-more-page{
  margin: 0 auto;
  background: #f4f5fa;

  & .learn-more__content-wrapper {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 95px 88px;
  }
  & .learn-more__title {
     width: 60.05%;
  }
  & .learn-more__button {
    padding: 15px 44px;
    }
}
@media screen and (max-width: 1024px) {
  .saudi-graduate-learn-more-page{

    & .learn-more__content-wrapper {
      max-width: 1024px;
      padding: 96px 16px;
    }
    & .learn-more__title {
      width: 100%;
    }
  }
}
.saudi-graduate-team{
  max-width: 1440px;
  margin: 0 auto;

  &__content-wrapper {
   box-sizing: border-box;
    margin: 0 auto;
    padding: 106px 88px 47px;
  }
  &__title {
    .h2();
    margin-bottom: 89px;
    font-size: 41px;
    text-align: center;
    }
  &__content-teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card-wrapper{
    flex-basis: 20.02%;
    margin-bottom: 76px;
  }
  &__image-wrapper{
    display: block;
  }

  &__card-text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 95px;
    padding-top: 26px;
    padding-bottom: 5px;
  }
  &__card-name{
    .h4();
    font-weight: bolder;
    }
  &__card-position{
    .p();
    opacity: 0.7;
  }
  & .swiper-container6{
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .saudi-graduate-team {
    max-width: 1024px;
    margin: 0 auto;

    &__content-wrapper {
      box-sizing: border-box;
      margin: 0 auto;
      padding: 92px 0 96px 26px;
    }
    &__title {
      font-size: 28px;
      line-height: 38px;
    }
    &__card-text-wrapper{
      min-height: 97px;
      padding-top: 32px;
    }
    &__card-name{
      font-size: 20px;
      line-height: 25px;
    }
    &__card-position{
      font-size: 17px;
      line-height: 22px;
    }
    &__content-teams{
      display: none;
    }
    & .swiper-container6{
      position: relative;
      display: block;
      padding: 0 0 44px !important
    }
    &__card-wrapper {
      flex-basis: 100%;
      margin-bottom: 0;
    }
    &__foto{
      display: block;
      width: 100%;
    }
    .swiper-slide.slider6 {
      width: 253px !important;
    }

  }
}

.saudi-graduate-student-stories {
  position: relative;
  margin: 0 auto;
  background: #f4f5fa;

  &__content-wrapper {
    position: relative;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 117px 88px;
  }

  & .section6-btn {
    right: 88px;
  }

  &__title {
    .h2();
    margin-bottom: 78px;
    font-size: 41px;
    text-align: center;
  }

  &__text-content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 95px 125px;
  }

  &__text-button {
    margin-top: 32px;
    color: #3f39cb;
    border-bottom: 1px solid #3f39cb;
    cursor: pointer;
  }

  &__image-wrapper {
    flex-basis: 36.13%;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__text-content {
    flex-basis: 54.56%;
  }

  &__title2 {
    .h2();
    margin-top: 10px;
    margin-bottom: 10px;
    color: #212122;
  }

  &__subtitle {
    .h4();
    margin-bottom: 22px;
    font-weight: bolder;
    opacity: 0.7;
  }

  &__subtitle2 {
    .p();
    display: flex;
    align-items: center;
    text-transform: uppercase;
    opacity: 0.7;
  }

  &__subtitle2 span {
    margin-right: 16px;
  }

  &__subtitle2 img {
    display: block;
    width: 100%;
  }

  &__text {
    .p();
    opacity: 0.7;
  }

  &__text p {
    margin-top: 24px;
  }

  & .swiper-container7 {
    position: relative;
    display: block;
    padding: 0 0 71px !important;
  }

  & .swiper-slide.slider7 {
    width: 253px !important;
  }

  & .swiper-slide.slider7 img {
    display: block;
    width: 100%;
  }

  & .swiper-slide.slider7 .saudi-graduate-team__card-wrapper {
    flex-basis: 100%;
    margin-bottom: 0;
  }
  & .swiper-slide.slider7 .saudi-graduate-team__card-position {
    margin-top: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .saudi-graduate-student-stories {
    &__content-wrapper {
      max-width: 1024px;
     // padding: 48px 16px 96px;
      padding: 48px 0 96px 16px;
    }
    &__text-content-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //padding: 0 0 96px;
      padding: 0 16px 96px 0;
    }
    & .section6-btn {
      right: 18px;
      bottom: 10px;
      transform: translate(0, 0);
    }
    &__title {
      .h2();
      margin-bottom: 36px;
      padding-right: 16px;
      font-size: 28px;
      line-height: 38px;
    }
    &__image-wrapper{
      flex-basis: 100%;
    }
    &__text-content{
      flex-basis: 100%;
    }
    &__title2 {
      margin-top: 32px;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      }
    &__subtitle {
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 25px;
      }
    &__subtitle2 {
     text-transform: none;
    }
     &__text p {
      margin-top: 16px;
    }
    &__text {
      font-size: 17px;
      line-height: 22px;
     }
    &__text-button {
      margin-top: 18px;
    }
    & .swiper-container7 {
       padding: 0 0 56px 10px !important;
    }
  }
}


